<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%5B%EB%A7%A4%EC%9D%BC_10%EB%B6%84_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%5D_%EB%82%A0%EC%A7%9C%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC_%EC%B2%98%EB%A6%AC_%ED%95%98%EC%9E%90!_(python_date_time_pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df1 = pd.read_csv('/content/drive/MyDrive/python/데이터스테이션/data/Data01.csv')
print(df1.shape)
df1.head()

(15000, 7)

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [4]:
df1['날짜']

0        2019-05-16
1        2019-05-16
2        2019-05-16
3        2019-05-16
4        2019-05-16
            ...
14995    2019-08-07
14996    2019-08-07
14997    2019-08-07
14998    2019-08-07
14999    2019-08-07
Name: 날짜, Length: 15000, dtype: object

In [7]:
df1['날짜_datetime'] = pd.to_datetime(df1['날짜'])

In [8]:
df1.head(2)

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16

In [11]:
df1['연도'] = df1['날짜_datetime'].dt.year

In [13]:
df1.head(2)

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime    연도
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16  2019
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16  2019

In [14]:
pd.pivot_table(data=df1, index='연도', values='출고수량', aggfunc='sum')

        출고수량
연도
2019  108078