<a href="https://colab.research.google.com/github/won195/TIL/blob/master/concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
val1 = [[80,69,83,98],[71,90,69,66], [74,72,72,95]]
val2 =[[68,70,84,70], [65,91,90,66], [78,94,96,64]]
val3 = [[79,99,95,90], [99,76,81,97], [95,80,62,84]]
idx1 = ["송중기", "박보검", "김나연"]
idx2 = ["권보아", "김범수", "박효신"]
idx3 = ["김유정", "홍은희", "이세영"]
col1 = ["국어", "수학", "영어", "과학"]
col2 = ["국어", "수학", "영어", "사회"]
df1 = pd.DataFrame(val1, index=idx1, columns=col1)
df2 = pd.DataFrame(val2, index=idx2, columns=col1)
df3 = pd.DataFrame([[65,82], [85,60], [75,78]], index=idx1, columns=["사회", "일어"])
df4 = df2.reindex(columns=["영어", "과학", "수학", "국어"])
df5 = pd.DataFrame(val3, index=idx3, columns=col2)
df1

     국어  수학  영어  과학
송중기  80  69  83  98
박보검  71  90  69  66
김나연  74  72  72  95

In [4]:
pd.concat([df1,df2])

     국어  수학  영어  과학
송중기  80  69  83  98
박보검  71  90  69  66
김나연  74  72  72  95
권보아  68  70  84  70
김범수  65  91  90  66
박효신  78  94  96  64

In [5]:
pd.concat([df1,df3],axis=1)

     국어  수학  영어  과학  사회  일어
송중기  80  69  83  98  65  82
박보검  71  90  69  66  85  60
김나연  74  72  72  95  75  78

In [6]:
pd.concat([df1,df4])

     국어  수학  영어  과학
송중기  80  69  83  98
박보검  71  90  69  66
김나연  74  72  72  95
권보아  68  70  84  70
김범수  65  91  90  66
박효신  78  94  96  64

In [7]:
pd.concat([df1,df5],join='inner')

     국어  수학  영어
송중기  80  69  83
박보검  71  90  69
김나연  74  72  72
김유정  79  99  95
홍은희  99  76  81
이세영  95  80  62

In [8]:
pd.concat([df1,df5],join='outer')

     국어  수학  영어    과학    사회
송중기  80  69  83  98.0   NaN
박보검  71  90  69  66.0   NaN
김나연  74  72  72  95.0   NaN
김유정  79  99  95   NaN  90.0
홍은희  99  76  81   NaN  97.0
이세영  95  80  62   NaN  84.0

In [11]:
pd.concat([df1, df5.reindex(columns=df1.columns,fill_value='불참')])

     국어  수학  영어  과학
송중기  80  69  83  98
박보검  71  90  69  66
김나연  74  72  72  95
김유정  79  99  95  불참
홍은희  99  76  81  불참
이세영  95  80  62  불참