<a href="https://colab.research.google.com/github/won195/TIL/blob/master/countif%2C_sumif_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df1 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E03EXAMPLE.xlsx', sheet_name=1)
df1

      이름    업체    메뉴  수량
0    강민석   커피딘   스무디   1
1    박충선   커피딘  카페라떼   1
2    김보강   커피딘  아이스티   1
3    김서경  스타카페  아이스티   1
4    박지수   커피딘  아이스티   1
..   ...   ...   ...  ..
195  권혁호   커피딘   스무디   1
196  박은석  스타카페  아이스티   1
197  강인형   커피딘   스무디   1
198  박찬우  스타카페  아이스티   1
199  박재정   커피딘   스무디   1

[200 rows x 4 columns]

In [4]:
df2 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E03EXAMPLE.xlsx', sheet_name=2)
df2

     업체    메뉴    가격
0  스타카페   스무디  4400
1  스타카페  아이스티  4700
2  스타카페  카페라떼  5000
3   커피딘   스무디  4900
4   커피딘  아이스티  4200
5   커피딘  카페라떼  4500

In [8]:
df3 = df1.merge(df2, how='left')
df3

      이름    업체    메뉴  수량    가격
0    강민석   커피딘   스무디   1  4900
1    박충선   커피딘  카페라떼   1  4500
2    김보강   커피딘  아이스티   1  4200
3    김서경  스타카페  아이스티   1  4700
4    박지수   커피딘  아이스티   1  4200
..   ...   ...   ...  ..   ...
195  권혁호   커피딘   스무디   1  4900
196  박은석  스타카페  아이스티   1  4700
197  강인형   커피딘   스무디   1  4900
198  박찬우  스타카페  아이스티   1  4700
199  박재정   커피딘   스무디   1  4900

[200 rows x 5 columns]

In [10]:
pdf1 = df3.pivot_table('수량',index=['업체','메뉴'],aggfunc='count')
pdf1

           수량
업체   메뉴
스타카페 스무디   37
     아이스티  36
     카페라떼  26
커피딘  스무디   36
     아이스티  40
     카페라떼  25

In [12]:
pdf2 = df3.pivot_table('가격', index='업체', aggfunc='sum')
pdf2

          가격
업체
스타카페  462000
커피딘   456900

In [ ]:
pdf1.to_clipboard(index=False)

In [ ]:
pdf2.to_clipboard(index=False)