<a href="https://colab.research.google.com/github/won195/TIL/blob/master/E_To_P_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
a = np.random.randint(0,10,24).reshape(4,6)
df = pd.DataFrame(a, index=list('가나다라'),columns=list('ABCDEF'))
df

   A  B  C  D  E  F
가  8  8  4  5  2  7
나  1  9  6  8  9  6
다  1  8  5  1  3  5
라  6  5  1  5  1  0

In [ ]:
df

   A  B  C  D  E  F
가  8  8  4  5  2  7
나  1  9  6  8  9  6
다  1  8  5  1  3  5
라  6  5  1  5  1  0

In [ ]:
df['A']

가    8
나    1
다    1
라    6
Name: A, dtype: int64

In [ ]:
df[['B','C','D']]

   B  C  D
가  8  4  5
나  9  6  8
다  8  5  1
라  5  1  5

In [ ]:
df.loc['가','A']

8

In [ ]:
df.loc['가':'다','A':'E']

   A  B  C  D  E
가  8  8  4  5  2
나  1  9  6  8  9
다  1  8  5  1  3

In [ ]:
df.loc['가':'다',['A','E','E']]

   A  E  E
가  8  2  2
나  1  9  9
다  1  3  3

In [ ]:
df.iloc[0]

A    8
B    8
C    4
D    5
E    2
F    7
Name: 가, dtype: int64

In [ ]:
df.iloc[0,0]

8

In [ ]:
df.iloc[0:3,0]

가    8
나    1
다    1
Name: A, dtype: int64

In [ ]:
df.iloc[0:3,0:5]

   A  B  C  D  E
가  8  8  4  5  2
나  1  9  6  8  9
다  1  8  5  1  3

In [ ]:
df.iloc[0:3,[1,3]]

   B  D
가  8  5
나  9  8
다  8  1

In [ ]:
df.iloc[0:3,[1,3,3]]

   B  D  D
가  8  5  5
나  9  8  8
다  8  1  1

In [ ]:
df.drop('D',axis=1)

   A  B  C  E  F
가  8  8  4  2  7
나  1  9  6  9  6
다  1  8  5  3  5
라  6  5  1  1  0

In [ ]:
df.drop('가')

   A  B  C  D  E  F
나  1  9  6  8  9  6
다  1  8  5  1  3  5
라  6  5  1  5  1  0

In [ ]:
df.loc['가':'다',['B','D','E','F']]

   B  D  E  F
가  8  5  2  7
나  9  8  9  6
다  8  1  3  5

In [ ]:
a1 = [60, 84, 80, 70, 19]
a2 = [77, 62, 95, 85, 17]
a3 = [61, 97, 72, 67, 15]
a4 = [75, 65, 95, 51, 18]
cols = ["국어", "영어", "수학", "과학", "나이"]
df = pd.DataFrame([a1, a2, a3, a4], index=list("ABCD"), columns=cols)

In [ ]:
df

   국어  영어  수학  과학  나이
A  60  84  80  70  19
B  77  62  95  85  17
C  61  97  72  67  15
D  75  65  95  51  18

In [ ]:
df.sort_values('국어')

   국어  영어  수학  과학  나이
A  60  84  80  70  19
C  61  97  72  67  15
D  75  65  95  51  18
B  77  62  95  85  17

In [ ]:
df.sort_values('영어',ascending=False)

   국어  영어  수학  과학  나이
C  61  97  72  67  15
A  60  84  80  70  19
D  75  65  95  51  18
B  77  62  95  85  17

In [ ]:
df.sort_values('수학',ascending=False)

   국어  영어  수학  과학  나이
B  77  62  95  85  17
D  75  65  95  51  18
A  60  84  80  70  19
C  61  97  72  67  15

In [ ]:
df.sort_values(['수학','영어'],ascending=False)

   국어  영어  수학  과학  나이
D  75  65  95  51  18
B  77  62  95  85  17
A  60  84  80  70  19
C  61  97  72  67  15

In [ ]:
df.sort_values(['수학','나이'],ascending=[0,1])

   국어  영어  수학  과학  나이
B  77  62  95  85  17
D  75  65  95  51  18
A  60  84  80  70  19
C  61  97  72  67  15

In [ ]:
a1 = [[1,2,3], [4,5,6,], [7,8,9]]
df1 = pd.DataFrame(a1, columns=list("ABC"), index=list("가나다"))
df2 = df1.reindex(columns=list("BCA"), index=list("나다가")).copy()
sr1 = df1.loc["가"]
df3 = df1.iloc[:2,:2]
df1

   A  B  C
가  1  2  3
나  4  5  6
다  7  8  9

In [ ]:
df1 * df1

    A   B   C
가   1   4   9
나  16  25  36
다  49  64  81

In [ ]:
df1 + df2

    A   B   C
가   2   4   6
나   8  10  12
다  14  16  18

In [ ]:
df1 + df3

     A     B   C
가  2.0   4.0 NaN
나  8.0  10.0 NaN
다  NaN   NaN NaN

In [ ]:
df1.add(df3, fill_value=0)

     A     B    C
가  2.0   4.0  3.0
나  8.0  10.0  6.0
다  7.0   8.0  9.0

In [ ]:
df1 + sr1

   A   B   C
가  2   4   6
나  5   7   9
다  8  10  12

In [ ]:
df1.add(sr1,axis=0)

    A   B   C
A NaN NaN NaN
B NaN NaN NaN
C NaN NaN NaN
가 NaN NaN NaN
나 NaN NaN NaN
다 NaN NaN NaN

In [ ]:
a1 = [60, 84, 80, 70, "문예부"]
a2 = [77, 62, 95, 85, "과학부"]
a3 = [61, 97, 72, np.nan, "농구부"]
a4 = [75, 65, 95, np.nan, "다도부"]
cols = ["국어", "영어", "수학", "과학", "소속"]
b1 = ["문예부", "과학부", "다도부"]
df = pd.DataFrame([a1, a2, a3, a4], index=list("ABCD"), columns=cols)
df

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부
C  61  97  72   NaN  농구부
D  75  65  95   NaN  다도부

In [ ]:
df['영어'] > 80

A     True
B    False
C     True
D    False
Name: 영어, dtype: bool

In [ ]:
df.loc[df['영어'] > 80]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
C  61  97  72   NaN  농구부

In [ ]:
df.loc[df['영어'] > 80, '국어':'과학']

   국어  영어  수학    과학
A  60  84  80  70.0
C  61  97  72   NaN

In [ ]:
cond1 = df['영어'] > 80
df.loc[cond1, '국어':'과학']

   국어  영어  수학    과학
A  60  84  80  70.0
C  61  97  72   NaN

In [ ]:
cond1 = df['국어'] > 60
cond2 = df['수학'] > 75
df.loc[cond1 & cond2]

   국어  영어  수학    과학   소속
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [ ]:
df.loc[~df['과학'].isnull()]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부

In [ ]:
df.loc[(~df['과학'].isnull()) | (df['수학'] > 90)]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [ ]:
cond1 = df['소속']=='문예부'
cond2 = df['소속']=='과학부'
cond3 = df['소속']=='다도부'
df[cond1|cond2|cond3]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [ ]:
df.loc[df['소속'].isin(b1)]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [ ]:
df1 = pd.DataFrame([["파이전자", 20, 30, 30, 40, "반도체"], 
                   ["썬닉스", 100, 90, 80, 100, "반도체"], 
                   ["판다센", 300, 320, 340, 0, "게임"], 
                   ["스마블", 0, 450, 300, 300, "게임"]], 
                  columns=["종목", "A팀", "B팀", "C팀", "D팀", "분류"])
s1 = pd.Series([35000, 10000, 2000, 5000], index=list(df1["종목"]))
df2 = df1.set_index("종목").iloc[:,:4].mul(s1, axis=0)
df2 = df2.reindex(["D팀", "C팀", "B팀", "A팀", "분류"], axis=1).reset_index()
df2["분류"] = df1["분류"]
df1

     종목   A팀   B팀   C팀   D팀   분류
0  파이전자   20   30   30   40  반도체
1   썬닉스  100   90   80  100  반도체
2   판다센  300  320  340    0   게임
3   스마블    0  450  300  300   게임

In [ ]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df1.columns

Index(['종목', 'A팀', 'B팀', 'C팀', 'D팀', '분류'], dtype='object')

In [ ]:
df1.set_index('종목')

       A팀   B팀   C팀   D팀   분류
종목
파이전자   20   30   30   40  반도체
썬닉스   100   90   80  100  반도체
판다센   300  320  340    0   게임
스마블     0  450  300  300   게임

In [ ]:
df1.set_index(['분류','종목'])

           A팀   B팀   C팀   D팀
분류  종목
반도체 파이전자   20   30   30   40
    썬닉스   100   90   80  100
게임  판다센   300  320  340    0
    스마블     0  450  300  300

In [ ]:
df1.set_index(['분류','종목'], drop=False)

            종목   A팀   B팀   C팀   D팀   분류
분류  종목
반도체 파이전자  파이전자   20   30   30   40  반도체
    썬닉스    썬닉스  100   90   80  100  반도체
게임  판다센    판다센  300  320  340    0   게임
    스마블    스마블    0  450  300  300   게임

In [ ]:
df1.set_index(['분류','종목'], append=True)

             A팀   B팀   C팀   D팀
  분류  종목
0 반도체 파이전자   20   30   30   40
1 반도체 썬닉스   100   90   80  100
2 게임  판다센   300  320  340    0
3 게임  스마블     0  450  300  300

In [ ]:
df3 = df1.loc[df1['종목'] !='판다센']
df3.reset_index(drop=True)

     종목   A팀   B팀   C팀   D팀   분류
0  파이전자   20   30   30   40  반도체
1   썬닉스  100   90   80  100  반도체
2   스마블    0  450  300  300   게임

In [ ]:
df3.T

       0    1    3
종목  파이전자  썬닉스  스마블
A팀    20  100    0
B팀    30   90  450
C팀    30   80  300
D팀    40  100  300
분류   반도체  반도체   게임

In [ ]:
df3.T.reset_index().T

          0    1    2    3    4    5
index    종목   A팀   B팀   C팀   D팀   분류
0      파이전자   20   30   30   40  반도체
1       썬닉스  100   90   80  100  반도체
3       스마블    0  450  300  300   게임

In [ ]:
df1.reindex(columns=['종목','C팀','A팀','B팀','D팀','분류'])

     종목   C팀   A팀   B팀   D팀   분류
0  파이전자   30   20   30   40  반도체
1   썬닉스   80  100   90  100  반도체
2   판다센  340  300  320    0   게임
3   스마블  300    0  450  300   게임

In [ ]:
df1.reindex(columns=df2.columns)

     종목   D팀   C팀   B팀   A팀   분류
0  파이전자   40   30   30   20  반도체
1   썬닉스  100   80   90  100  반도체
2   판다센    0  340  320  300   게임
3   스마블  300  300  450    0   게임

In [ ]:
df1.reindex(columns=['A팀','B팀'])

    A팀   B팀
0   20   30
1  100   90
2  300  320
3    0  450

In [ ]:
df1.reindex(columns=['A팀','B팀','A팀','E팀'], fill_value=0)

    A팀   B팀   A팀  E팀
0   20   30   20   0
1  100   90  100   0
2  300  320  300   0
3    0  450    0   0

In [ ]:
df1.rename(columns={'A팀':'AI팀','B팀':'주식1팀'})

     종목  AI팀  주식1팀   C팀   D팀   분류
0  파이전자   20    30   30   40  반도체
1   썬닉스  100    90   80  100  반도체
2   판다센  300   320  340    0   게임
3   스마블    0   450  300  300   게임

In [ ]:
df1.index = [1,2,3,4]
df1

     종목   A팀   B팀   C팀   D팀   분류
1  파이전자   20   30   30   40  반도체
2   썬닉스  100   90   80  100  반도체
3   판다센  300  320  340    0   게임
4   스마블    0  450  300  300   게임

In [ ]:
df2.sort_index(axis=1)

        A팀       B팀       C팀       D팀   분류    종목
0   700000  1050000  1050000  1400000  반도체  파이전자
1  1000000   900000   800000  1000000  반도체   썬닉스
2   600000   640000   680000        0   게임   판다센
3        0  2250000  1500000  1500000   게임   스마블

In [ ]:
a1 = ['송중기', '이유빈', '권보아', '차유람', '박보검', '김범수',  '이효리', '유승호', '김유정']
a2 = list("남여여여남남여남여")
a3 = list("AAABBBCCC")
a4 = [97, 88, 78, 64, 84, 89, 87, 92, 99]
a5 = [i + "등" for i in list("123321321")]
a6 = [i + "시" for i in list("수정정수수수정정수")]
a7 = ['이름', '성별', '반', '점수', '반등수', '비고']

df = pd.DataFrame([a1, a2, a3, a4, a5, a6], index=a7, columns=list(range(1, 10))).T
df["점수"] = df["점수"].astype(int)
df

    이름 성별  반  점수 반등수  비고
1  송중기  남  A  97  1등  수시
2  이유빈  여  A  88  2등  정시
3  권보아  여  A  78  3등  정시
4  차유람  여  B  64  3등  수시
5  박보검  남  B  84  2등  수시
6  김범수  남  B  89  1등  수시
7  이효리  여  C  87  3등  정시
8  유승호  남  C  92  2등  정시
9  김유정  여  C  99  1등  수시

In [ ]:
df.pivot_table('점수',index='반',columns='성별', aggfunc='mean')

성별     남     여
반
A   97.0  83.0
B   86.5  64.0
C   92.0  93.0

In [ ]:
df.pivot_table('점수',index=['반','성별'],columns='비고', aggfunc='mean')

비고      수시    정시
반 성별
A 남   97.0   NaN
  여    NaN  83.0
B 남   86.5   NaN
  여   64.0   NaN
C 남    NaN  92.0
  여   99.0  87.0

In [ ]:
df.pivot(values='이름',index='반',columns='반등수')

반등수   1등   2등   3등
반
A    송중기  이유빈  권보아
B    김범수  박보검  차유람
C    김유정  유승호  이효리

In [ ]:
val = [[83, 93, 99], [77, 88, 91], [92, 78, 95]]
idx = ["권보아", "김범수", "박효신"]
df = pd.DataFrame(val, index=idx, columns=["국어", "수학", "과학"])
val1 = [[20, 10], [5, 25], [22, 8], [12, 18]]
idx1 = [["1반", "1반", "2반", "2반"], ["남", "여","남","여"]]
df1 = pd.DataFrame(val1,index=idx1, columns=["도시락", "샌드위치"])
df2 = df1.copy().unstack()
df3 = df1.copy()
df3["업체"] = ["CJ푸드", "신세계", "신세계", "CJ푸드"]
df4 = df3.reset_index().rename(columns={"level_0":"반", "level_1":"성별"}).copy()

In [ ]:
df

     국어  수학  과학
권보아  83  93  99
김범수  77  88  91
박효신  92  78  95

In [ ]:
df.stack()

권보아  국어    83
     수학    93
     과학    99
김범수  국어    77
     수학    88
     과학    91
박효신  국어    92
     수학    78
     과학    95
dtype: int64

In [ ]:
df = df.stack().reset_index()
df.columns = ['이름','과목','점수']
df

    이름  과목  점수
0  권보아  국어  83
1  권보아  수학  93
2  권보아  과학  99
3  김범수  국어  77
4  김범수  수학  88
5  김범수  과학  91
6  박효신  국어  92
7  박효신  수학  78
8  박효신  과학  95

In [ ]:
df1 = df1.stack().reset_index()
df1.columns = ['반','성별','제품','수량']
df1

    반 성별    제품  수량
0  1반  남   도시락  20
1  1반  남  샌드위치  10
2  1반  여   도시락   5
3  1반  여  샌드위치  25
4  2반  남   도시락  22
5  2반  남  샌드위치   8
6  2반  여   도시락  12
7  2반  여  샌드위치  18

In [ ]:
df2

   도시락     샌드위치
     남   여    남   여
1반  20   5   10  25
2반  22  12    8  18

In [ ]:
df2.stack()

      도시락  샌드위치
1반 남   20    10
   여    5    25
2반 남   22     8
   여   12    18

In [ ]:
df2 = df2.stack(level=[0,1]).reset_index()
df2.columns = ['반','제품','성별','수량']
df2

    반    제품 성별  수량
0  1반   도시락  남  20
1  1반   도시락  여   5
2  1반  샌드위치  남  10
3  1반  샌드위치  여  25
4  2반   도시락  남  22
5  2반   도시락  여  12
6  2반  샌드위치  남   8
7  2반  샌드위치  여  18

In [ ]:
df3.stack()

1반  남  도시락       20
       샌드위치      10
       업체      CJ푸드
    여  도시락        5
       샌드위치      25
       업체       신세계
2반  남  도시락       22
       샌드위치       8
       업체       신세계
    여  도시락       12
       샌드위치      18
       업체      CJ푸드
dtype: object

In [ ]:
df3 = df3.set_index('업체', append=True).stack().reset_index()
df3.columns = ['반','성별','업체','제품','수량']
df3

    반 성별    업체    제품  수량
0  1반  남  CJ푸드   도시락  20
1  1반  남  CJ푸드  샌드위치  10
2  1반  여   신세계   도시락   5
3  1반  여   신세계  샌드위치  25
4  2반  남   신세계   도시락  22
5  2반  남   신세계  샌드위치   8
6  2반  여  CJ푸드   도시락  12
7  2반  여  CJ푸드  샌드위치  18

In [ ]:
def add(a,b,c):
      return a+b+c

add(1,2,3)

6