<a href="https://colab.research.google.com/github/won195/TIL/blob/master/groupby%EC%99%80_pivot_table_%EB%B9%84%EA%B5%90%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
a1 = ['송중기', '남', 1, 79, 93]
a2 = ['김나현', '여', 1, 85, 85]
a3 = ['권보아', '여', 1, 91, 78]
a4 = ['김범수', '남', 1, 97, 98]
a5 = ['이효리', '여', 2, 93, 79]
a6 = ['박효신', '남', 2, 78, 90]
a7 = ['한예슬', '여', 2, 87, 74]
a8 = ['민경훈', '남', 2, 99, 89]
col1 = ["", "성별", "반", "국어", "영어"]
df1 = pd.DataFrame([a1, a2, a3, a4, a5, a6, a7, a8], columns=col1).set_index("")
df2 = df1.copy()
df2.loc["이효리", "반"] = 1
df2["인원"] = 1
s1 = df1["국어"].copy()
df1

    성별  반  국어  영어

송중기  남  1  79  93
김나현  여  1  85  85
권보아  여  1  91  78
김범수  남  1  97  98
이효리  여  2  93  79
박효신  남  2  78  90
한예슬  여  2  87  74
민경훈  남  2  99  89

In [3]:
df1.groupby(['성별','반'])[['국어','영어']].agg('mean')

        국어    영어
성별 반
남  1 88.00 95.50
   2 88.50 89.50
여  1 88.00 81.50
   2 90.00 76.50

In [4]:
df1.pivot_table(['국어','영어'],index=['성별','반'],aggfunc='mean')

        국어    영어
성별 반
남  1 88.00 95.50
   2 88.50 89.50
여  1 88.00 81.50
   2 90.00 76.50

In [5]:
df1.pivot_table('국어', index='성별', columns='반', aggfunc='mean')

반      1     2
성별
남  88.00 88.50
여  88.00 90.00

In [7]:
df1.groupby(['성별','반'])[['국어']].agg('mean').unstack()

      국어
반      1     2
성별
남  88.00 88.50
여  88.00 90.00

In [11]:
df2.groupby(['성별','반'])[['영어','인원']].agg({'영어':'mean','인원':'sum'})

        영어  인원
성별 반
남  1 95.50   2
   2 89.50   2
여  1 80.67   3
   2 74.00   1

In [12]:
df2.groupby(['성별','반']).agg({'영어':'mean','인원':'sum'})

        영어  인원
성별 반
남  1 95.50   2
   2 89.50   2
여  1 80.67   3
   2 74.00   1

In [13]:
df2.groupby(['성별','반'])[['국어','영어']].agg(lambda x: x.max()-x.min())

      국어  영어
성별 반
남  1  18   5
   2  21   1
여  1   8   7
   2   0   0

In [14]:
df2.groupby(['성별','반'])[['국어','영어']].agg(lambda x:sum(x>80))

      국어  영어
성별 반
남  1   1   2
   2   1   2
여  1   3   1
   2   1   0