<a href="https://colab.research.google.com/github/won195/TIL/blob/master/groupby%EB%A1%9C_%EA%B7%B8%EB%A3%B9%EC%A7%91%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
a1 = ['송중기', '남', 1, 79, 93]
a2 = ['김나현', '여', 1, 85, 85]
a3 = ['권보아', '여', 1, 91, 78]
a4 = ['김범수', '남', 1, 97, 98]
a5 = ['이효리', '여', 2, 93, 79]
a6 = ['박효신', '남', 2, 78, 90]
a7 = ['한예슬', '여', 2, 87, 74]
a8 = ['민경훈', '남', 2, 99, 89]
col1 = ["", "성별", "반", "국어", "영어"]
df1 = pd.DataFrame([a1, a2, a3, a4, a5, a6, a7, a8], columns=col1).set_index("")
df1

    성별  반  국어  영어

송중기  남  1  79  93
김나현  여  1  85  85
권보아  여  1  91  78
김범수  남  1  97  98
이효리  여  2  93  79
박효신  남  2  78  90
한예슬  여  2  87  74
민경훈  남  2  99  89

In [21]:
df1.groupby('성별',as_index=False)['영어'].agg('mean')

  성별    영어
0  남  92.5
1  여  79.0

In [11]:
df1.groupby('성별')['영어'].agg('mean').reset_index()

  성별    영어
0  남  92.5
1  여  79.0

In [14]:
df1.groupby(['성별','반'])[['국어','영어']].agg('mean')
df1.groupby(['성별','반']).agg('mean')

        국어    영어
성별 반
남  1  88.0  95.5
   2  88.5  89.5
여  1  88.0  81.5
   2  90.0  76.5

In [15]:
df1.groupby(['성별','반']).agg(['mean','std','max'])

        국어                   영어
      mean        std max  mean       std max
성별 반
남  1  88.0  12.727922  97  95.5  3.535534  98
   2  88.5  14.849242  99  89.5  0.707107  90
여  1  88.0   4.242641  91  81.5  4.949747  85
   2  90.0   4.242641  93  76.5  3.535534  79

In [18]:
df1.pivot_table(['국어','영어'],index='성별',columns='반',aggfunc='mean')

      국어          영어
반      1     2     1     2
성별
남   88.0  88.5  95.5  89.5
여   88.0  90.0  81.5  76.5

In [19]:
df1.pivot_table(['국어','영어'],index=['성별','반'],aggfunc='mean')

        국어    영어
성별 반
남  1  88.0  95.5
   2  88.5  89.5
여  1  88.0  81.5
   2  90.0  76.5