<a href="https://colab.research.google.com/github/won195/TIL/blob/master/groupby_%2B_transform1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
df = pd.read_csv("https://raw.githubusercontent.com/"
                 "panda-kim/pandas/main/pokemon01.csv")
df

       포켓몬   타입   체력   공격   방어  특수공격  특수방어  스피드
0     이상해씨    풀   45   49   49    65    65   45
1     이상해풀    풀   60   62   63    80    80   60
2     이상해꽃    풀   80   82   83   100   100   80
3      파이리   불꽃   39   52   43    60    50   65
4      리자드   불꽃   58   64   58    80    65   80
..     ...  ...  ...  ...  ...   ...   ...  ...
846  레지에레키   전기   80  100   50   100    50  200
847  레지드래고  드래곤  200  100   50   100    50   80
848  블리자포스   얼음  100  145  130    65   110   30
849  레이스포스  고스트  100   65   60   145    80  130
850   버드렉스  에스퍼  100   80   80    80    80   80

[851 rows x 8 columns]

In [4]:
df['hp_m'] = df.groupby('타입')['체력'].transform('mean')
df

       포켓몬   타입   체력   공격   방어  특수공격  특수방어  스피드  hp_m
0     이상해씨    풀   45   49   49    65    65   45 64.69
1     이상해풀    풀   60   62   63    80    80   60 64.69
2     이상해꽃    풀   80   82   83   100   100   80 64.69
3      파이리   불꽃   39   52   43    60    50   65 67.67
4      리자드   불꽃   58   64   58    80    65   80 67.67
..     ...  ...  ...  ...  ...   ...   ...  ...   ...
846  레지에레키   전기   80  100   50   100    50  200 62.34
847  레지드래고  드래곤  200  100   50   100    50   80 78.45
848  블리자포스   얼음  100  145  130    65   110   30 71.41
849  레이스포스  고스트  100   65   60   145    80  130 59.89
850   버드렉스  에스퍼  100   80   80    80    80   80 72.54

[851 rows x 9 columns]

In [8]:
cond1 = df['체력'] > df['hp_m']
df['분류'] = df['방어'].mask(cond1,'강인').mask(~cond1,'허약')
df

       포켓몬   타입   체력   공격   방어  특수공격  특수방어  스피드  hp_m  분류
0     이상해씨    풀   45   49   49    65    65   45 64.69  허약
1     이상해풀    풀   60   62   63    80    80   60 64.69  허약
2     이상해꽃    풀   80   82   83   100   100   80 64.69  강인
3      파이리   불꽃   39   52   43    60    50   65 67.67  허약
4      리자드   불꽃   58   64   58    80    65   80 67.67  허약
..     ...  ...  ...  ...  ...   ...   ...  ...   ...  ..
846  레지에레키   전기   80  100   50   100    50  200 62.34  강인
847  레지드래고  드래곤  200  100   50   100    50   80 78.45  강인
848  블리자포스   얼음  100  145  130    65   110   30 71.41  강인
849  레이스포스  고스트  100   65   60   145    80  130 59.89  강인
850   버드렉스  에스퍼  100   80   80    80    80   80 72.54  강인

[851 rows x 10 columns]

In [9]:
df.drop('hp_m',axis=1)

       포켓몬   타입   체력   공격   방어  특수공격  특수방어  스피드  분류
0     이상해씨    풀   45   49   49    65    65   45  허약
1     이상해풀    풀   60   62   63    80    80   60  허약
2     이상해꽃    풀   80   82   83   100   100   80  강인
3      파이리   불꽃   39   52   43    60    50   65  허약
4      리자드   불꽃   58   64   58    80    65   80  허약
..     ...  ...  ...  ...  ...   ...   ...  ...  ..
846  레지에레키   전기   80  100   50   100    50  200  강인
847  레지드래고  드래곤  200  100   50   100    50   80  강인
848  블리자포스   얼음  100  145  130    65   110   30  강인
849  레이스포스  고스트  100   65   60   145    80  130  강인
850   버드렉스  에스퍼  100   80   80    80    80   80  강인

[851 rows x 9 columns]