<a href="https://colab.research.google.com/github/won195/TIL/blob/master/map%2C_apply%2C_applymap%EC%9D%98_%EC%B0%A8%EC%9D%B4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
a1 = ["4등","3등","1등","2등"]
a2 = ["마시기", "커피사오기", "만원", "2만원"]
idx1 = ["송중기", "김나현", "권보아", "박효신"]
col1 = ["국어", "영어", "수학"]
val1 = [[82,81,77], [91,95,83], [78,72,88], [82,87,72]]
s1 = pd.Series(["80점", "75점", "77점", "60점"], index=idx1)
s2 = pd.Series(a1, index=idx1)
s3 = pd.Series(a2, index=["1등", "2등", "3등", "4등"])
df1 = pd.DataFrame(val1, index=idx1, columns=col1)
df2 = df1.applymap(lambda x: str(x) + "점").copy()

In [4]:
s1.map(lambda x:int(x[0:2]))

송중기    80
김나현    75
권보아    77
박효신    60
dtype: int64

In [6]:
s2.apply(lambda x: s3.loc[x])
s2.map(s3)

송중기      2만원
김나현       만원
권보아      마시기
박효신    커피사오기
dtype: object

In [7]:
df1.apply(lambda x: x+1)

     국어  영어  수학
송중기  83  82  78
김나현  92  96  84
권보아  79  73  89
박효신  83  88  73

In [8]:
df2.applymap(lambda x:x[:2])

     국어  영어  수학
송중기  82  81  77
김나현  91  95  83
권보아  78  72  88
박효신  82  87  72

In [9]:
df2.apply(lambda x:x[:2])

      국어   영어   수학
송중기  82점  81점  77점
김나현  91점  95점  83점

In [11]:
for i in df2.columns:
    df2[i] = df2[i].apply(lambda x:x[:2])
df2

     국어  영어  수학
송중기  82  81  77
김나현  91  95  83
권보아  78  72  88
박효신  82  87  72