<a href="https://colab.research.google.com/github/won195/TIL/blob/master/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

name1 = ['송중기', '권보아', '김나현', '박효신', '진달래']
a1, a2, a3, a4, a5 = '송중기', '권보아', '김나현', '박효신', '진달래'
b1, b2, b3 = '카페라떼', '아이스티', '모카라떼'
c1, c2 = '콩다방', '별다방'
df1 = pd.DataFrame([name1, [b2, b1, b1, b2, b3]], index=["이름", "제품"]).T
df2 = pd.DataFrame([[b1, 4500], [b2, 4600], [b3, 4800]], columns=["제품", "가격"])
df3 = pd.DataFrame([name1,[c1, c1, c2, c1, c2], [b2, b1, b1, b2, b2]], 
                   index=["이름", "업체", "제품"]).T
df4 = pd.DataFrame([[c1, b2, 4600], [c1, b1, 4700], [c2, b2, 4200], [c2, b1, 4300]], 
                   columns=["업체", "제품", "가격"])
df5 = pd.DataFrame([[b1, 4500], [b2, 4600], [b3, 4800]], columns=["상품", "가격"])
df6 = pd.DataFrame([[b1, 4500], [b2, 4600], [b3, 4800], [b3, 4800]], 
                   columns=["제품", "가격"])
df7 = pd.DataFrame([[a2, a3, a1, a5], [b2, b1, b1, b3]], index=["이름", "1일차"]).T
df8 = pd.DataFrame([[a2, a3, a4, a1], [b1, b3, b2, b2]], index=["이름", "2일차"]).T
df9 = pd.DataFrame([b1, b3, b2, b2], index=[a2, a3, a4, a1], columns=["2일차"])

In [3]:
df1.merge(df2, how='left')

    이름    제품    가격
0  송중기  아이스티  4600
1  권보아  카페라떼  4500
2  김나현  카페라떼  4500
3  박효신  아이스티  4600
4  진달래  모카라떼  4800

In [8]:
df3.merge(df4, how='left')

    이름   업체    제품    가격
0  송중기  콩다방  아이스티  4600
1  권보아  콩다방  카페라떼  4700
2  김나현  별다방  카페라떼  4300
3  박효신  콩다방  아이스티  4600
4  진달래  별다방  아이스티  4200

In [14]:
df1.merge(df5.rename(columns={'상품':'제품'}),how='left')

    이름    제품    가격
0  송중기  아이스티  4600
1  권보아  카페라떼  4500
2  김나현  카페라떼  4500
3  박효신  아이스티  4600
4  진달래  모카라떼  4800

In [16]:
df1.merge(df6.drop_duplicates(),how='left')

    이름    제품    가격
0  송중기  아이스티  4600
1  박효신  아이스티  4600
2  권보아  카페라떼  4500
3  김나현  카페라떼  4500
4  진달래  모카라떼  4800

In [17]:
df7.merge(df8)

    이름   1일차   2일차
0  권보아  아이스티  카페라떼
1  김나현  카페라떼  모카라떼
2  송중기  카페라떼  아이스티

In [24]:
df7.merge(df9.reset_index().rename(columns={'index':'이름'}),how='left')

    이름   1일차   2일차
0  권보아  아이스티  카페라떼
1  김나현  카페라떼  모카라떼
2  송중기  카페라떼  아이스티
3  진달래  모카라떼   NaN