<a href="https://colab.research.google.com/github/won195/TIL/blob/master/Pandas%EB%A5%BC_%EC%9D%B4%EC%9A%A9%ED%95%9C_%ED%9A%8C%EC%82%AC%EC%97%90%EC%84%9C_%EB%82%98%EC%98%A4%EB%8A%94_%EC%97%91%EC%85%80_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [5]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
!apt-get install -y fonts-nanum
mpl.rc('font', family='Malgun Gothic')
mpl.rc('font', family='NanumBarunGothic')
!apt-get install -y fonts-nanum
!fc-cache -fv
plt.rc('font', family='NanumBarunGothic')

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 24 not upgraded.
Need to get 9,599 kB of archives.
After this operation, 29.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 fonts-nanum all 20180306-3 [9,599 kB]
Fetched 9,599 kB in 1s (6,539 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 122518 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20180306-3_all.deb ...
Unpacking fonts-nanum (20180306-3) ...
Setting up fonts-nanum (20180306-3) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded
Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [4]:
df1 = pd.read_csv('/content/drive/MyDrive/python/데이터스테이션/data/Data09.csv', encoding='cp949')
print(df1.shape)
df1.head(2)

(117, 646)

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"

In [6]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [11]:
stack_data = df1.drop(columns=['순번','상품코드']).set_index('상품명').stack()

In [20]:
df2 = pd.DataFrame(stack_data).reset_index()

In [18]:
region_list = df1.columns.tolist()[4:]

In [16]:
pd.melt(df1, id_vars = ['상품명'], value_vars=region_list)

                            상품명    variable  value
0                           NaN  (1154)의정부점     수량
1                           합 계  (1154)의정부점  6,829
2                BW1 473ml캔(수입)  (1154)의정부점    174
3                BW1 355ml (낱캔)  (1154)의정부점      0
4                      RB 500ml  (1154)의정부점      4
...                         ...         ...    ...
75109  CAT1 355ml*12캔+카카오 에코백+치    (L46)용호점      0
75110     CAT2 355*24캔 + 진라면 6캔    (L46)용호점      0
75111               CAT2 1.6L*6    (L46)용호점      0
75112                 CAT2 1.6L    (L46)용호점    122
75113                 CAT1 1.6L    (L46)용호점     24

[75114 rows x 3 columns]

In [21]:
df2.head(5)

   상품명      level_1   0
0  NaN           합계  수량
1  NaN   (1154)의정부점  수량
2  NaN    (1155)별내점  수량
3  NaN    (1156)풍산점  수량
4  NaN  (1157)김포한강점  수량

In [26]:
cond1 = (df2['상품명'].isnull())
cond2 = (df2['상품명'] !='합 계')
cond3 = (df2['level_1'] !=' 합계')
df2.loc[(~cond1)&(cond2)&(cond3)]

                  상품명      level_1    0
1287   BW1 473ml캔(수입)   (1154)의정부점  174
1288   BW1 473ml캔(수입)    (1155)별내점  239
1289   BW1 473ml캔(수입)    (1156)풍산점  432
1290   BW1 473ml캔(수입)  (1157)김포한강점  199
1291   BW1 473ml캔(수입)    (1158)세종점  220
...               ...          ...  ...
75226       CAT1 1.6L     (L38)율전점   54
75227       CAT1 1.6L     (L39)본오점   28
75228       CAT1 1.6L     (L40)검암점    9
75229       CAT1 1.6L     (L44)신길점   28
75230       CAT1 1.6L     (L46)용호점   24

[73830 rows x 3 columns]