<a href="https://colab.research.google.com/github/won195/TIL/blob/master/shift_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
df1 = pd.DataFrame([['2022-01-03', 1000], 
                    ['2022-01-04', 1100], 
                    ['2022-01-05', 1200], 
                    ['2022-01-06', 1100], 
                    ['2022-01-07', 1000], 
                    ['2022-01-10', 1100]], columns=['date', 'price'])
df2 = pd.DataFrame([['2022-01-03', '판다전자', 1000], 
                    ['2022-01-03', '파이닉스', 9500], 
                    ['2022-01-04', '판다전자', 1100], 
                    ['2022-01-04', '파이닉스', 9000], 
                    ['2022-01-05', '판다전자', 1200],
                    ['2022-01-05', '파이닉스', 9900]], 
                   columns=['date', '종목명', 'price'])
df3 = df1.copy()
df1

         date  price
0  2022-01-03   1000
1  2022-01-04   1100
2  2022-01-05   1200
3  2022-01-06   1100
4  2022-01-07   1000
5  2022-01-10   1100

In [22]:
df1['shift(1)'] = df1['price'].shift(1)
df1['등락률'] = (df1['price'] - df1['shift(1)']) / df1['shift(1)']
df1.drop('shift(1)', axis=1)

         date  price   등락률
0  2022-01-03   1000   NaN
1  2022-01-04   1100  0.10
2  2022-01-05   1200  0.09
3  2022-01-06   1100 -0.08
4  2022-01-07   1000 -0.09
5  2022-01-10   1100  0.10

In [23]:
df2['shift'] = df2.groupby('종목명')['price'].shift(1)
df2['등락률'] = (df2['price'] - df2['shift']) / df2['shift']
df2

         date   종목명  price   shift   등락률
0  2022-01-03  판다전자   1000     NaN   NaN
1  2022-01-03  파이닉스   9500     NaN   NaN
2  2022-01-04  판다전자   1100 1000.00  0.10
3  2022-01-04  파이닉스   9000 9500.00 -0.05
4  2022-01-05  판다전자   1200 1100.00  0.09
5  2022-01-05  파이닉스   9900 9000.00  0.10

In [24]:
df3

         date  price
0  2022-01-03   1000
1  2022-01-04   1100
2  2022-01-05   1200
3  2022-01-06   1100
4  2022-01-07   1000
5  2022-01-10   1100

In [28]:
df3['price'].diff(1)

0       NaN
1    100.00
2    100.00
3   -100.00
4   -100.00
5    100.00
Name: price, dtype: float64

In [26]:
df3['등락'] = df3['price'].pct_change(1)
df3

         date  price    등락
0  2022-01-03   1000   NaN
1  2022-01-04   1100  0.10
2  2022-01-05   1200  0.09
3  2022-01-06   1100 -0.08
4  2022-01-07   1000 -0.09
5  2022-01-10   1100  0.10