<a href="https://colab.research.google.com/github/won195/TIL/blob/master/shift1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.options.display.float_format = '{:.4f}'.format
df1 = pd.read_csv("https://raw.githubusercontent.com/"
                  "panda-kim/pandas/main/shift01%EA%B0%95_df1.csv")
df1

           Date    Open    High     Low   Close
0    2021-01-04  344990  347935  336648  341065
1    2021-01-05  344990  349407  338611  347935
2    2021-01-06  350388  352842  346953  346954
3    2021-01-07  348425  352842  344500  350880
4    2021-01-08  352842  363148  349407  360204
..          ...     ...     ...     ...     ...
118  2021-06-24  277759  279231  270398  273343
119  2021-06-25  274324  275796  256166  260583
120  2021-06-28  263527  265981  260583  261074
121  2021-06-29  261074  263037  258620  260093
122  2021-06-30  260583  265981  259601  263528

[123 rows x 5 columns]

In [4]:
df1['shift'] = df1['Close'].shift(1)
df1

           Date    Open    High     Low   Close       shift
0    2021-01-04  344990  347935  336648  341065         NaN
1    2021-01-05  344990  349407  338611  347935 341065.0000
2    2021-01-06  350388  352842  346953  346954 347935.0000
3    2021-01-07  348425  352842  344500  350880 346954.0000
4    2021-01-08  352842  363148  349407  360204 350880.0000
..          ...     ...     ...     ...     ...         ...
118  2021-06-24  277759  279231  270398  273343 276287.0000
119  2021-06-25  274324  275796  256166  260583 273343.0000
120  2021-06-28  263527  265981  260583  261074 260583.0000
121  2021-06-29  261074  263037  258620  260093 261074.0000
122  2021-06-30  260583  265981  259601  263528 260093.0000

[123 rows x 6 columns]

In [6]:
df1['등락'] = (df1['Close'] - df1['shift']) / df1['shift']
df1['등락'] = df1['Close'].pct_change(1)
df1

           Date    Open    High     Low   Close       shift      등락
0    2021-01-04  344990  347935  336648  341065         NaN     NaN
1    2021-01-05  344990  349407  338611  347935 341065.0000  0.0201
2    2021-01-06  350388  352842  346953  346954 347935.0000 -0.0028
3    2021-01-07  348425  352842  344500  350880 346954.0000  0.0113
4    2021-01-08  352842  363148  349407  360204 350880.0000  0.0266
..          ...     ...     ...     ...     ...         ...     ...
118  2021-06-24  277759  279231  270398  273343 276287.0000 -0.0107
119  2021-06-25  274324  275796  256166  260583 273343.0000 -0.0467
120  2021-06-28  263527  265981  260583  261074 260583.0000  0.0019
121  2021-06-29  261074  263037  258620  260093 261074.0000 -0.0038
122  2021-06-30  260583  265981  259601  263528 260093.0000  0.0132

[123 rows x 7 columns]

In [9]:
df1['시초등락'] = (df1['Open'] - df1['shift']) / df1['shift']
df1.drop('shift', axis=1)

           Date    Open    High     Low   Close      등락   시초등락
0    2021-01-04  344990  347935  336648  341065     NaN    NaN
1    2021-01-05  344990  349407  338611  347935  0.0201 0.0115
2    2021-01-06  350388  352842  346953  346954 -0.0028 0.0071
3    2021-01-07  348425  352842  344500  350880  0.0113 0.0042
4    2021-01-08  352842  363148  349407  360204  0.0266 0.0056
..          ...     ...     ...     ...     ...     ...    ...
118  2021-06-24  277759  279231  270398  273343 -0.0107 0.0053
119  2021-06-25  274324  275796  256166  260583 -0.0467 0.0036
120  2021-06-28  263527  265981  260583  261074  0.0019 0.0113
121  2021-06-29  261074  263037  258620  260093 -0.0038 0.0000
122  2021-06-30  260583  265981  259601  263528  0.0132 0.0019

[123 rows x 7 columns]