<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EA%B5%AC%EC%BB%AC%EB%9F%BC_%EC%B6%94%EA%B0%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역_주소.csv')
df2 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-상주인구).csv', encoding='cp949')
df3 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv', encoding='cp949')
df4 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='cp949')
df5 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')
df6 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding='cp949')

In [71]:
df1 = df1.rename(columns={'lat': 'long', 'long': 'lat'})

In [72]:
df1

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,long,lat,시도명,시군구명,읍면동명,법정동코드,동리명
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN,126.908844,37.448687,서울특별시,금천구,시흥제5동,1.154510e+09,시흥동
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN,127.070978,37.634469,서울특별시,노원구,하계1동,1.135010e+09,하계동
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN,126.912978,37.451006,서울특별시,금천구,시흥제2동,1.154510e+09,시흥동
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN,126.901564,37.441482,서울특별시,금천구,시흥제3동,1.154510e+09,시흥동
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN,127.115614,37.509060,서울특별시,송파구,방이2동,1.171011e+09,방이동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN,127.011025,37.567312,서울특별시,중구,광희동,1.114013e+09,충무로4가
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN,126.997374,37.569998,서울특별시,종로구,종로1.2.3.4가동,1.111012e+09,세종로
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN,127.115275,37.516476,서울특별시,송파구,오륜동,1.171011e+09,방이동
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003,서울특별시,강남구,삼성1동,1.168010e+09,삼성동
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN,126.994377,37.534435,서울특별시,용산구,이태원제1동,1.117013e+09,이태원동

In [73]:
df2 = df2.rename(columns={'상권 코드': '상권_코드', '상권 코드 명': '상권_코드_명'})

In [74]:
df2

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,여성연령대 10 상주인구 수,여성연령대 20 상주인구 수,여성연령대 30 상주인구 수,여성연령대 40 상주인구 수,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,상권_코드_명
0,2022,4,U,관광특구,1001496,29,16,13,2,4,...,2,2,1,2,4,2,18,0,18,강남 마이스 관광특구
1,2022,4,U,관광특구,1001495,9639,4250,5389,819,2254,...,395,1435,1454,728,548,829,6122,0,6122,잠실 관광특구
2,2022,4,U,관광특구,1001494,1977,1303,674,45,218,...,20,80,67,67,125,315,1591,0,1591,종로?청계 관광특구
3,2022,4,U,관광특구,1001493,2703,1294,1409,189,626,...,102,371,329,178,188,241,1753,0,1753,동대문패션타운 관광특구
4,2022,4,U,관광특구,1001492,1089,403,686,17,50,...,10,25,51,109,143,348,494,0,494,명동 남대문 북창동 다동 무교동 관광특구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39173,2017,1,A,골목상권,2110005,1940,941,999,352,265,...,172,123,126,205,138,235,759,12,747,세검정
39174,2017,1,A,골목상권,2110004,534,262,272,82,58,...,34,30,26,61,31,90,258,0,258,대신고등학교
39175,2017,1,A,골목상권,2110003,3337,1627,1710,618,526,...,307,231,198,312,299,363,1273,112,1161,세검정초등학교
39176,2017,1,A,골목상권,2110002,680,335,345,92,53,...,45,25,36,46,58,135,349,49,300,독립문역 1번
39177,2017,1,A,골목상권,2110001,1211,574,637,214,173,...,103,78,54,132,109,161,436,0,436,이북5도청사

In [75]:
df3.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40041 entries, 0 to 40040
Data columns (total 532 columns):
 #    Column                       Dtype
---   ------                       -----
 0    기준 년코드                       int64
 1    기준_분기_코드                     int64
 2    상권_구분_코드                     object
 3     상권_구분_코드_명                  object
 4    상권_코드                        int64
 5    상권_코드_명                      object
 6    총_생활인구_수                     int64
 7    남성_생활인구_수                    int64
 8    여성_생활인구_수                    int64
 9    연령대_10_생활인구_수                int64
 10   연령대_20_생활인구_수                int64
 11   연령대_30_생활인구_수                int64
 12   연령대_40_생활인구_수                int64
 13   연령대_50_생활인구_수                int64
 14   연령대_60_이상_생활인구_수             int64
 15   시간대_1_생활인구_수                 int64
 16   시간대_2_생활인구_수                 int64
 17   시간대_3_생활인구_수                 int64
 18   시간대_4_생활인구_수                 int64
 19   시간대_5_생활인구_수                 int64
 20   시간대_6_생활인구_수                 int64
 21   월요일_생활인구_수                   int64
 22   화요일_생활인구_수                   int64
 23   수요일_생활인구_수                   int64
 24   목요일_생활인구_수                   int64
 25   금요일_생활인구_수                   int64
 26   토요일_생활인구_수                   int64
 27   일요일_생활인구_수                   int64
 28   남성연령대_10_월요일시간대_1_생활인구_수     int64
 29   남성연령대_10_월요일시간대_2_생활인구_수     int64
 30   남성연령대_10_월요일시간대_3_생활인구_수     int64
 31   남성연령대_10_월요일시간대_4_생활인구_수     int64
 32   남성연령대_10_월요일시간대_5_생활인구_수     int64
 33   남성연령대_10_월요일시간대_6_생활인구_수     int64
 34   남성연령대_10_화요일시간대_1_생활인구_수     int64
 35   남성연령대_10_화요일시간대_2_생활인구_수     int64
 36   남성연령대_10_화요일시간대_3_생활인구_수     int64
 37   남성연령대_10_화요일시간대_4_생활인구_수     int64
 38   남성연령대_10_화요일시간대_5_생활인구_수     int64
 39   남성연령대_10_화요일시간대_6_생활인구_수     int64
 40   남성연령대_10_수요일시간대_1_생활인구_수     int64
 41   남성연령대_10_수요일시간대_2_생활인구_수     int64
 42   남성연령대_10_수요일시간대_3_생활인구_수     int64
 43   남성연령대_10_수요일시간대_4_생활인구_수     int64
 44   남성연령대_10_수요일시간대_5_생활인구_수     int64
 45   남성연령대_10_수요일시간대_6_생활인구_수     int64
 46   남성연령대_10_목요일시간대_1_생활인구_수     int64
 47   남성연령대_10_목요일시간대_2_생활인구_수     int64
 48   남성연령대_10_목요일시간대_3_생활인구_수     int64
 49   남성연령대_10_목요일시간대_4_생활인구_수     int64
 50   남성연령대_10_목요일시간대_5_생활인구_수     int64
 51   남성연령대_10_목요일시간대_6_생활인구_수     int64
 52   남성연령대_10_금요일시간대_1_생활인구_수     int64
 53   남성연령대_10_금요일시간대_2_생활인구_수     int64
 54   남성연령대_10_금요일시간대_3_생활인구_수     int64
 55   남성연령대_10_금요일시간대_4_생활인구_수     int64
 56   남성연령대_10_금요일시간대_5_생활인구_수     int64
 57   남성연령대_10_금요일시간대_6_생활인구_수     int64
 58   남성연령대_10_토요일시간대_1_생활인구_수     int64
 59   남성연령대_10_토요일시간대_2_생활인구_수     int64
 60   남성연령대_10_토요일시간대_3_생활인구_수     int64
 61   남성연령대_10_토요일시간대_4_생활인구_수     int64
 62   남성연령대_10_토요일시간대_5_생활인구_수     int64
 63   남성연령대_10_토요일시간대_6_생활인구_수     int64
 64   남성연령대_10_일요일시간대_1_생활인구_수     int64
 65   남성연령대_10_일요일시간대_2_생활인구_수     int64
 66   남성연령대_10_일요일시간대_3_생활인구_수     int64
 67   남성연령대_10_일요일시간대_4_생활인구_수     int64
 68   남성연령대_10_일요일시간대_5_생활인구_수     int64
 69   남성연령대_10_일요일시간대_6_생활인구_수     int64
 70   남성연령대_20_월요일시간대_1_생활인구_수     int64
 71   남성연령대_20_월요일시간대_2_생활인구_수     int64
 72   남성연령대_20_월요일시간대_3_생활인구_수     int64
 73   남성연령대_20_월요일시간대_4_생활인구_수     int64
 74   남성연령대_20_월요일시간대_5_생활인구_수     int64
 75   남성연령대_20_월요일시간대_6_생활인구_수     int64
 76   남성연령대_20_화요일시간대_1_생활인구_수     int64
 77   남성연령대_20_화요일시간대_2_생활인구_수     int64
 78   남성연령대_20_화요일시간대_3_생활인구_수     int64
 79   남성연령대_20_화요일시간대_4_생활인구_수     int64
 80   남성연령대_20_화요일시간대_5_생활인구_수     int64
 81   남성연령대_20_화요일시간대_6_생활인구_수     int64
 82   남성연령대_20_수요일시간대_1_생활인구_수     int64
 83   남성연령대_20_수요일시간대_2_생활인구_수     int64
 84   남성연령대_20_수요일시간대_3_생활인구_수     int64
 85   남성연령대_20_수요일시간대_4_생활인구_수     int64
 86   남성연령대_20_수요일시간대_5_생활인구_수     int64
 87   남성연령대_20_수요일시간대_6_생활인구_수     int64
 88   남성연령대_20_목요일시간대_1_생활인구_수     int64
 89   남성연령대_20_목요일시간대_2_생활인구_수     int64
 90   남성연령대_20_목요일시간대_3_생활인구_수     int64
 91   남성연령대_20_목요일시간대_4_생활인구_수     int64
 92   남성연령대_20_목요일시간대_5_생활인구_수     int64
 93   남성연령대_20_목요일시간대_6_생활인구_수     int64
 94   남성연령대_20_금요일시간대_1_생활인구_수     int64
 95   남성연령대_20_금요일시간대_2_생활인구_수     int64
 96   남성연령대_20_금요일시간대_3_생활인구_수     int64
 97   남성연령대_20_금요일시간대_4_생활인구_수     int64
 98   남성연령대_20_금요일시간대_5_생활인구_수     int64
 99   남성연령대_20_금요일시간대_6_생활인구_수     int64
 100  남성연령대_20_토요일시간대_1_생활인구_수     int64
 101  남성연령대_20_토요일시간대_2_생활인구_수     int64
 102  남성연령대_20_토요일시간대_3_생활인구_수     int64
 103  남성연령대_20_토요일시간대_4_생활인구_수     int64
 104  남성연령대_20_토요일시간대_5_생활인구_수     int64
 105  남성연령대_20_토요일시간대_6_생활인구_수     int64
 106  남성연령대_20_일요일시간대_1_생활인구_수     int64
 107  남성연령대_20_일요일시간대_2_생활인구_수     int64
 108  남성연령대_20_일요일시간대_3_생활인구_수     int64
 109  남성연령대_20_일요일시간대_4_생활인구_수     int64
 110  남성연령대_20_일요일시간대_5_생활인구_수     int64
 111  남성연령대_20_일요일시간대_6_생활인구_수     int64
 112  남성연령대_30_월요일시간대_1_생활인구_수     int64
 113  남성연령대_30_월요일시간대_2_생활인구_수     int64
 114  남성연령대_30_월요일시간대_3_생활인구_수     int64
 115  남성연령대_30_월요일시간대_4_생활인구_수     int64
 116  남성연령대_30_월요일시간대_5_생활인구_수     int64
 117  남성연령대_30_월요일시간대_6_생활인구_수     int64
 118  남성연령대_30_화요일시간대_1_생활인구_수     int64
 119  남성연령대_30_화요일시간대_2_생활인구_수     int64
 120  남성연령대_30_화요일시간대_3_생활인구_수     int64
 121  남성연령대_30_화요일시간대_4_생활인구_수     int64
 122  남성연령대_30_화요일시간대_5_생활인구_수     int64
 123  남성연령대_30_화요일시간대_6_생활인구_수     int64
 124  남성연령대_30_수요일시간대_1_생활인구_수     int64
 125  남성연령대_30_수요일시간대_2_생활인구_수     int64
 126  남성연령대_30_수요일시간대_3_생활인구_수     int64
 127  남성연령대_30_수요일시간대_4_생활인구_수     int64
 128  남성연령대_30_수요일시간대_5_생활인구_수     int64
 129  남성연령대_30_수요일시간대_6_생활인구_수     int64
 130  남성연령대_30_목요일시간대_1_생활인구_수     int64
 131  남성연령대_30_목요일시간대_2_생활인구_수     int64
 132  남성연령대_30_목요일시간대_3_생활인구_수     int64
 133  남성연령대_30_목요일시간대_4_생활인구_수     int64
 134  남성연령대_30_목요일시간대_5_생활인구_수     int64
 135  남성연령대_30_목요일시간대_6_생활인구_수     int64
 136  남성연령대_30_금요일시간대_1_생활인구_수     int64
 137  남성연령대_30_금요일시간대_2_생활인구_수     int64
 138  남성연령대_30_금요일시간대_3_생활인구_수     int64
 139  남성연령대_30_금요일시간대_4_생활인구_수     int64
 140  남성연령대_30_금요일시간대_5_생활인구_수     int64
 141  남성연령대_30_금요일시간대_6_생활인구_수     int64
 142  남성연령대_30_토요일시간대_1_생활인구_수     int64
 143  남성연령대_30_토요일시간대_2_생활인구_수     int64
 144  남성연령대_30_토요일시간대_3_생활인구_수     int64
 145  남성연령대_30_토요일시간대_4_생활인구_수     int64
 146  남성연령대_30_토요일시간대_5_생활인구_수     int64
 147  남성연령대_30_토요일시간대_6_생활인구_수     int64
 148  남성연령대_30_일요일시간대_1_생활인구_수     int64
 149  남성연령대_30_일요일시간대_2_생활인구_수     int64
 150  남성연령대_30_일요일시간대_3_생활인구_수     int64
 151  남성연령대_30_일요일시간대_4_생활인구_수     int64
 152  남성연령대_30_일요일시간대_5_생활인구_수     int64
 153  남성연령대_30_일요일시간대_6_생활인구_수     int64
 154  남성연령대_40_월요일시간대_1_생활인구_수     int64
 155  남성연령대_40_월요일시간대_2_생활인구_수     int64
 156  남성연령대_40_월요일시간대_3_생활인구_수     int64
 157  남성연령대_40_월요일시간대_4_생활인구_수     int64
 158  남성연령대_40_월요일시간대_5_생활인구_수     int64
 159  남성연령대_40_월요일시간대_6_생활인구_수     int64
 160  남성연령대_40_화요일시간대_1_생활인구_수     int64
 161  남성연령대_40_화요일시간대_2_생활인구_수     int64
 162  남성연령대_40_화요일시간대_3_생활인구_수     int64
 163  남성연령대_40_화요일시간대_4_생활인구_수     int64
 164  남성연령대_40_화요일시간대_5_생활인구_수     int64
 165  남성연령대_40_화요일시간대_6_생활인구_수     int64
 166  남성연령대_40_수요일시간대_1_생활인구_수     int64
 167  남성연령대_40_수요일시간대_2_생활인구_수     int64
 168  남성연령대_40_수요일시간대_3_생활인구_수     int64
 169  남성연령대_40_수요일시간대_4_생활인구_수     int64
 170  남성연령대_40_수요일시간대_5_생활인구_수     int64
 171  남성연령대_40_수요일시간대_6_생활인구_수     int64
 172  남성연령대_40_목요일시간대_1_생활인구_수     int64
 173  남성연령대_40_목요일시간대_2_생활인구_수     int64
 174  남성연령대_40_목요일시간대_3_생활인구_수     int64
 175  남성연령대_40_목요일시간대_4_생활인구_수     int64
 176  남성연령대_40_목요일시간대_5_생활인구_수     int64
 177  남성연령대_40_목요일시간대_6_생활인구_수     int64
 178  남성연령대_40_금요일시간대_1_생활인구_수     int64
 179  남성연령대_40_금요일시간대_2_생활인구_수     int64
 180  남성연령대_40_금요일시간대_3_생활인구_수     int64
 181  남성연령대_40_금요일시간대_4_생활인구_수     int64
 182  남성연령대_40_금요일시간대_5_생활인구_수     int64
 183  남성연령대_40_금요일시간대_6_생활인구_수     int64
 184  남성연령대_40_토요일시간대_1_생활인구_수     int64
 185  남성연령대_40_토요일시간대_2_생활인구_수     int64
 186  남성연령대_40_토요일시간대_3_생활인구_수     int64
 187  남성연령대_40_토요일시간대_4_생활인구_수     int64
 188  남성연령대_40_토요일시간대_5_생활인구_수     int64
 189  남성연령대_40_토요일시간대_6_생활인구_수     int64
 190  남성연령대_40_일요일시간대_1_생활인구_수     int64
 191  남성연령대_40_일요일시간대_2_생활인구_수     int64
 192  남성연령대_40_일요일시간대_3_생활인구_수     int64
 193  남성연령대_40_일요일시간대_4_생활인구_수     int64
 194  남성연령대_40_일요일시간대_5_생활인구_수     int64
 195  남성연령대_40_일요일시간대_6_생활인구_수     int64
 196  남성연령대_50_월요일시간대_1_생활인구_수     int64
 197  남성연령대_50_월요일시간대_2_생활인구_수     int64
 198  남성연령대_50_월요일시간대_3_생활인구_수     int64
 199  남성연령대_50_월요일시간대_4_생활인구_수     int64
 200  남성연령대_50_월요일시간대_5_생활인구_수     int64
 201  남성연령대_50_월요일시간대_6_생활인구_수     int64
 202  남성연령대_50_화요일시간대_1_생활인구_수     int64
 203  남성연령대_50_화요일시간대_2_생활인구_수     int64
 204  남성연령대_50_화요일시간대_3_생활인구_수     int64
 205  남성연령대_50_화요일시간대_4_생활인구_수     int64
 206  남성연령대_50_화요일시간대_5_생활인구_수     int64
 207  남성연령대_50_화요일시간대_6_생활인구_수     int64
 208  남성연령대_50_수요일시간대_1_생활인구_수     int64
 209  남성연령대_50_수요일시간대_2_생활인구_수     int64
 210  남성연령대_50_수요일시간대_3_생활인구_수     int64
 211  남성연령대_50_수요일시간대_4_생활인구_수     int64
 212  남성연령대_50_수요일시간대_5_생활인구_수     int64
 213  남성연령대_50_수요일시간대_6_생활인구_수     int64
 214  남성연령대_50_목요일시간대_1_생활인구_수     int64
 215  남성연령대_50_목요일시간대_2_생활인구_수     int64
 216  남성연령대_50_목요일시간대_3_생활인구_수     int64
 217  남성연령대_50_목요일시간대_4_생활인구_수     int64
 218  남성연령대_50_목요일시간대_5_생활인구_수     int64
 219  남성연령대_50_목요일시간대_6_생활인구_수     int64
 220  남성연령대_50_금요일시간대_1_생활인구_수     int64
 221  남성연령대_50_금요일시간대_2_생활인구_수     int64
 222  남성연령대_50_금요일시간대_3_생활인구_수     int64
 223  남성연령대_50_금요일시간대_4_생활인구_수     int64
 224  남성연령대_50_금요일시간대_5_생활인구_수     int64
 225  남성연령대_50_금요일시간대_6_생활인구_수     int64
 226  남성연령대_50_토요일시간대_1_생활인구_수     int64
 227  남성연령대_50_토요일시간대_2_생활인구_수     int64
 228  남성연령대_50_토요일시간대_3_생활인구_수     int64
 229  남성연령대_50_토요일시간대_4_생활인구_수     int64
 230  남성연령대_50_토요일시간대_5_생활인구_수     int64
 231  남성연령대_50_토요일시간대_6_생활인구_수     int64
 232  남성연령대_50_일요일시간대_1_생활인구_수     int64
 233  남성연령대_50_일요일시간대_2_생활인구_수     int64
 234  남성연령대_50_일요일시간대_3_생활인구_수     int64
 235  남성연령대_50_일요일시간대_4_생활인구_수     int64
 236  남성연령대_50_일요일시간대_5_생활인구_수     int64
 237  남성연령대_50_일요일시간대_6_생활인구_수     int64
 238  남성연령대_60_이상_월요일시간대_1_생활인구_수  int64
 239  남성연령대_60_이상_월요일시간대_2_생활인구_수  int64
 240  남성연령대_60_이상_월요일시간대_3_생활인구_수  int64
 241  남성연령대_60_이상_월요일시간대_4_생활인구_수  int64
 242  남성연령대_60_이상_월요일시간대_5_생활인구_수  int64
 243  남성연령대_60_이상_월요일시간대_6_생활인구_수  int64
 244  남성연령대_60_이상_화요일시간대_1_생활인구_수  int64
 245  남성연령대_60_이상_화요일시간대_2_생활인구_수  int64
 246  남성연령대_60_이상_화요일시간대_3_생활인구_수  int64
 247  남성연령대_60_이상_화요일시간대_4_생활인구_수  int64
 248  남성연령대_60_이상_화요일시간대_5_생활인구_수  int64
 249  남성연령대_60_이상_화요일시간대_6_생활인구_수  int64
 250  남성연령대_60_이상_수요일시간대_1_생활인구_수  int64
 251  남성연령대_60_이상_수요일시간대_2_생활인구_수  int64
 252  남성연령대_60_이상_수요일시간대_3_생활인구_수  int64
 253  남성연령대_60_이상_수요일시간대_4_생활인구_수  int64
 254  남성연령대_60_이상_수요일시간대_5_생활인구_수  int64
 255  남성연령대_60_이상_수요일시간대_6_생활인구_수  int64
 256  남성연령대_60_이상_목요일시간대_1_생활인구_수  int64
 257  남성연령대_60_이상_목요일시간대_2_생활인구_수  int64
 258  남성연령대_60_이상_목요일시간대_3_생활인구_수  int64
 259  남성연령대_60_이상_목요일시간대_4_생활인구_수  int64
 260  남성연령대_60_이상_목요일시간대_5_생활인구_수  int64
 261  남성연령대_60_이상_목요일시간대_6_생활인구_수  int64
 262  남성연령대_60_이상_금요일시간대_1_생활인구_수  int64
 263  남성연령대_60_이상_금요일시간대_2_생활인구_수  int64
 264  남성연령대_60_이상_금요일시간대_3_생활인구_수  int64
 265  남성연령대_60_이상_금요일시간대_4_생활인구_수  int64
 266  남성연령대_60_이상_금요일시간대_5_생활인구_수  int64
 267  남성연령대_60_이상_금요일시간대_6_생활인구_수  int64
 268  남성연령대_60_이상_토요일시간대_1_생활인구_수  int64
 269  남성연령대_60_이상_토요일시간대_2_생활인구_수  int64
 270  남성연령대_60_이상_토요일시간대_3_생활인구_수  int64
 271  남성연령대_60_이상_토요일시간대_4_생활인구_수  int64
 272  남성연령대_60_이상_토요일시간대_5_생활인구_수  int64
 273  남성연령대_60_이상_토요일시간대_6_생활인구_수  int64
 274  남성연령대_60_이상_일요일시간대_1_생활인구_수  int64
 275  남성연령대_60_이상_일요일시간대_2_생활인구_수  int64
 276  남성연령대_60_이상_일요일시간대_3_생활인구_수  int64
 277  남성연령대_60_이상_일요일시간대_4_생활인구_수  int64
 278  남성연령대_60_이상_일요일시간대_5_생활인구_수  int64
 279  남성연령대_60_이상_일요일시간대_6_생활인구_수  int64
 280  여성연령대_10_월요일시간대_1_생활인구_수     int64
 281  여성연령대_10_월요일시간대_2_생활인구_수     int64
 282  여성연령대_10_월요일시간대_3_생활인구_수     int64
 283  여성연령대_10_월요일시간대_4_생활인구_수     int64
 284  여성연령대_10_월요일시간대_5_생활인구_수     int64
 285  여성연령대_10_월요일시간대_6_생활인구_수     int64
 286  여성연령대_10_화요일시간대_1_생활인구_수     int64
 287  여성연령대_10_화요일시간대_2_생활인구_수     int64
 288  여성연령대_10_화요일시간대_3_생활인구_수     int64
 289  여성연령대_10_화요일시간대_4_생활인구_수     int64
 290  여성연령대_10_화요일시간대_5_생활인구_수     int64
 291  여성연령대_10_화요일시간대_6_생활인구_수     int64
 292  여성연령대_10_수요일시간대_1_생활인구_수     int64
 293  여성연령대_10_수요일시간대_2_생활인구_수     int64
 294  여성연령대_10_수요일시간대_3_생활인구_수     int64
 295  여성연령대_10_수요일시간대_4_생활인구_수     int64
 296  여성연령대_10_수요일시간대_5_생활인구_수     int64
 297  여성연령대_10_수요일시간대_6_생활인구_수     int64
 298  여성연령대_10_목요일시간대_1_생활인구_수     int64
 299  여성연령대_10_목요일시간대_2_생활인구_수     int64
 300  여성연령대_10_목요일시간대_3_생활인구_수     int64
 301  여성연령대_10_목요일시간대_4_생활인구_수     int64
 302  여성연령대_10_목요일시간대_5_생활인구_수     int64
 303  여성연령대_10_목요일시간대_6_생활인구_수     int64
 304  여성연령대_10_금요일시간대_1_생활인구_수     int64
 305  여성연령대_10_금요일시간대_2_생활인구_수     int64
 306  여성연령대_10_금요일시간대_3_생활인구_수     int64
 307  여성연령대_10_금요일시간대_4_생활인구_수     int64
 308  여성연령대_10_금요일시간대_5_생활인구_수     int64
 309  여성연령대_10_금요일시간대_6_생활인구_수     int64
 310  여성연령대_10_토요일시간대_1_생활인구_수     int64
 311  여성연령대_10_토요일시간대_2_생활인구_수     int64
 312  여성연령대_10_토요일시간대_3_생활인구_수     int64
 313  여성연령대_10_토요일시간대_4_생활인구_수     int64
 314  여성연령대_10_토요일시간대_5_생활인구_수     int64
 315  여성연령대_10_토요일시간대_6_생활인구_수     int64
 316  여성연령대_10_일요일시간대_1_생활인구_수     int64
 317  여성연령대_10_일요일시간대_2_생활인구_수     int64
 318  여성연령대_10_일요일시간대_3_생활인구_수     int64
 319  여성연령대_10_일요일시간대_4_생활인구_수     int64
 320  여성연령대_10_일요일시간대_5_생활인구_수     int64
 321  여성연령대_10_일요일시간대_6_생활인구_수     int64
 322  여성연령대_20_월요일시간대_1_생활인구_수     int64
 323  여성연령대_20_월요일시간대_2_생활인구_수     int64
 324  여성연령대_20_월요일시간대_3_생활인구_수     int64
 325  여성연령대_20_월요일시간대_4_생활인구_수     int64
 326  여성연령대_20_월요일시간대_5_생활인구_수     int64
 327  여성연령대_20_월요일시간대_6_생활인구_수     int64
 328  여성연령대_20_화요일시간대_1_생활인구_수     int64
 329  여성연령대_20_화요일시간대_2_생활인구_수     int64
 330  여성연령대_20_화요일시간대_3_생활인구_수     int64
 331  여성연령대_20_화요일시간대_4_생활인구_수     int64
 332  여성연령대_20_화요일시간대_5_생활인구_수     int64
 333  여성연령대_20_화요일시간대_6_생활인구_수     int64
 334  여성연령대_20_수요일시간대_1_생활인구_수     int64
 335  여성연령대_20_수요일시간대_2_생활인구_수     int64
 336  여성연령대_20_수요일시간대_3_생활인구_수     int64
 337  여성연령대_20_수요일시간대_4_생활인구_수     int64
 338  여성연령대_20_수요일시간대_5_생활인구_수     int64
 339  여성연령대_20_수요일시간대_6_생활인구_수     int64
 340  여성연령대_20_목요일시간대_1_생활인구_수     int64
 341  여성연령대_20_목요일시간대_2_생활인구_수     int64
 342  여성연령대_20_목요일시간대_3_생활인구_수     int64
 343  여성연령대_20_목요일시간대_4_생활인구_수     int64
 344  여성연령대_20_목요일시간대_5_생활인구_수     int64
 345  여성연령대_20_목요일시간대_6_생활인구_수     int64
 346  여성연령대_20_금요일시간대_1_생활인구_수     int64
 347  여성연령대_20_금요일시간대_2_생활인구_수     int64
 348  여성연령대_20_금요일시간대_3_생활인구_수     int64
 349  여성연령대_20_금요일시간대_4_생활인구_수     int64
 350  여성연령대_20_금요일시간대_5_생활인구_수     int64
 351  여성연령대_20_금요일시간대_6_생활인구_수     int64
 352  여성연령대_20_토요일시간대_1_생활인구_수     int64
 353  여성연령대_20_토요일시간대_2_생활인구_수     int64
 354  여성연령대_20_토요일시간대_3_생활인구_수     int64
 355  여성연령대_20_토요일시간대_4_생활인구_수     int64
 356  여성연령대_20_토요일시간대_5_생활인구_수     int64
 357  여성연령대_20_토요일시간대_6_생활인구_수     int64
 358  여성연령대_20_일요일시간대_1_생활인구_수     int64
 359  여성연령대_20_일요일시간대_2_생활인구_수     int64
 360  여성연령대_20_일요일시간대_3_생활인구_수     int64
 361  여성연령대_20_일요일시간대_4_생활인구_수     int64
 362  여성연령대_20_일요일시간대_5_생활인구_수     int64
 363  여성연령대_20_일요일시간대_6_생활인구_수     int64
 364  여성연령대_30_월요일시간대_1_생활인구_수     int64
 365  여성연령대_30_월요일시간대_2_생활인구_수     int64
 366  여성연령대_30_월요일시간대_3_생활인구_수     int64
 367  여성연령대_30_월요일시간대_4_생활인구_수     int64
 368  여성연령대_30_월요일시간대_5_생활인구_수     int64
 369  여성연령대_30_월요일시간대_6_생활인구_수     int64
 370  여성연령대_30_화요일시간대_1_생활인구_수     int64
 371  여성연령대_30_화요일시간대_2_생활인구_수     int64
 372  여성연령대_30_화요일시간대_3_생활인구_수     int64
 373  여성연령대_30_화요일시간대_4_생활인구_수     int64
 374  여성연령대_30_화요일시간대_5_생활인구_수     int64
 375  여성연령대_30_화요일시간대_6_생활인구_수     int64
 376  여성연령대_30_수요일시간대_1_생활인구_수     int64
 377  여성연령대_30_수요일시간대_2_생활인구_수     int64
 378  여성연령대_30_수요일시간대_3_생활인구_수     int64
 379  여성연령대_30_수요일시간대_4_생활인구_수     int64
 380  여성연령대_30_수요일시간대_5_생활인구_수     int64
 381  여성연령대_30_수요일시간대_6_생활인구_수     int64
 382  여성연령대_30_목요일시간대_1_생활인구_수     int64
 383  여성연령대_30_목요일시간대_2_생활인구_수     int64
 384  여성연령대_30_목요일시간대_3_생활인구_수     int64
 385  여성연령대_30_목요일시간대_4_생활인구_수     int64
 386  여성연령대_30_목요일시간대_5_생활인구_수     int64
 387  여성연령대_30_목요일시간대_6_생활인구_수     int64
 388  여성연령대_30_금요일시간대_1_생활인구_수     int64
 389  여성연령대_30_금요일시간대_2_생활인구_수     int64
 390  여성연령대_30_금요일시간대_3_생활인구_수     int64
 391  여성연령대_30_금요일시간대_4_생활인구_수     int64
 392  여성연령대_30_금요일시간대_5_생활인구_수     int64
 393  여성연령대_30_금요일시간대_6_생활인구_수     int64
 394  여성연령대_30_토요일시간대_1_생활인구_수     int64
 395  여성연령대_30_토요일시간대_2_생활인구_수     int64
 396  여성연령대_30_토요일시간대_3_생활인구_수     int64
 397  여성연령대_30_토요일시간대_4_생활인구_수     int64
 398  여성연령대_30_토요일시간대_5_생활인구_수     int64
 399  여성연령대_30_토요일시간대_6_생활인구_수     int64
 400  여성연령대_30_일요일시간대_1_생활인구_수     int64
 401  여성연령대_30_일요일시간대_2_생활인구_수     int64
 402  여성연령대_30_일요일시간대_3_생활인구_수     int64
 403  여성연령대_30_일요일시간대_4_생활인구_수     int64
 404  여성연령대_30_일요일시간대_5_생활인구_수     int64
 405  여성연령대_30_일요일시간대_6_생활인구_수     int64
 406  여성연령대_40_월요일시간대_1_생활인구_수     int64
 407  여성연령대_40_월요일시간대_2_생활인구_수     int64
 408  여성연령대_40_월요일시간대_3_생활인구_수     int64
 409  여성연령대_40_월요일시간대_4_생활인구_수     int64
 410  여성연령대_40_월요일시간대_5_생활인구_수     int64
 411  여성연령대_40_월요일시간대_6_생활인구_수     int64
 412  여성연령대_40_화요일시간대_1_생활인구_수     int64
 413  여성연령대_40_화요일시간대_2_생활인구_수     int64
 414  여성연령대_40_화요일시간대_3_생활인구_수     int64
 415  여성연령대_40_화요일시간대_4_생활인구_수     int64
 416  여성연령대_40_화요일시간대_5_생활인구_수     int64
 417  여성연령대_40_화요일시간대_6_생활인구_수     int64
 418  여성연령대_40_수요일시간대_1_생활인구_수     int64
 419  여성연령대_40_수요일시간대_2_생활인구_수     int64
 420  여성연령대_40_수요일시간대_3_생활인구_수     int64
 421  여성연령대_40_수요일시간대_4_생활인구_수     int64
 422  여성연령대_40_수요일시간대_5_생활인구_수     int64
 423  여성연령대_40_수요일시간대_6_생활인구_수     int64
 424  여성연령대_40_목요일시간대_1_생활인구_수     int64
 425  여성연령대_40_목요일시간대_2_생활인구_수     int64
 426  여성연령대_40_목요일시간대_3_생활인구_수     int64
 427  여성연령대_40_목요일시간대_4_생활인구_수     int64
 428  여성연령대_40_목요일시간대_5_생활인구_수     int64
 429  여성연령대_40_목요일시간대_6_생활인구_수     int64
 430  여성연령대_40_금요일시간대_1_생활인구_수     int64
 431  여성연령대_40_금요일시간대_2_생활인구_수     int64
 432  여성연령대_40_금요일시간대_3_생활인구_수     int64
 433  여성연령대_40_금요일시간대_4_생활인구_수     int64
 434  여성연령대_40_금요일시간대_5_생활인구_수     int64
 435  여성연령대_40_금요일시간대_6_생활인구_수     int64
 436  여성연령대_40_토요일시간대_1_생활인구_수     int64
 437  여성연령대_40_토요일시간대_2_생활인구_수     int64
 438  여성연령대_40_토요일시간대_3_생활인구_수     int64
 439  여성연령대_40_토요일시간대_4_생활인구_수     int64
 440  여성연령대_40_토요일시간대_5_생활인구_수     int64
 441  여성연령대_40_토요일시간대_6_생활인구_수     int64
 442  여성연령대_40_일요일시간대_1_생활인구_수     int64
 443  여성연령대_40_일요일시간대_2_생활인구_수     int64
 444  여성연령대_40_일요일시간대_3_생활인구_수     int64
 445  여성연령대_40_일요일시간대_4_생활인구_수     int64
 446  여성연령대_40_일요일시간대_5_생활인구_수     int64
 447  여성연령대_40_일요일시간대_6_생활인구_수     int64
 448  여성연령대_50_월요일시간대_1_생활인구_수     int64
 449  여성연령대_50_월요일시간대_2_생활인구_수     int64
 450  여성연령대_50_월요일시간대_3_생활인구_수     int64
 451  여성연령대_50_월요일시간대_4_생활인구_수     int64
 452  여성연령대_50_월요일시간대_5_생활인구_수     int64
 453  여성연령대_50_월요일시간대_6_생활인구_수     int64
 454  여성연령대_50_화요일시간대_1_생활인구_수     int64
 455  여성연령대_50_화요일시간대_2_생활인구_수     int64
 456  여성연령대_50_화요일시간대_3_생활인구_수     int64
 457  여성연령대_50_화요일시간대_4_생활인구_수     int64
 458  여성연령대_50_화요일시간대_5_생활인구_수     int64
 459  여성연령대_50_화요일시간대_6_생활인구_수     int64
 460  여성연령대_50_수요일시간대_1_생활인구_수     int64
 461  여성연령대_50_수요일시간대_2_생활인구_수     int64
 462  여성연령대_50_수요일시간대_3_생활인구_수     int64
 463  여성연령대_50_수요일시간대_4_생활인구_수     int64
 464  여성연령대_50_수요일시간대_5_생활인구_수     int64
 465  여성연령대_50_수요일시간대_6_생활인구_수     int64
 466  여성연령대_50_목요일시간대_1_생활인구_수     int64
 467  여성연령대_50_목요일시간대_2_생활인구_수     int64
 468  여성연령대_50_목요일시간대_3_생활인구_수     int64
 469  여성연령대_50_목요일시간대_4_생활인구_수     int64
 470  여성연령대_50_목요일시간대_5_생활인구_수     int64
 471  여성연령대_50_목요일시간대_6_생활인구_수     int64
 472  여성연령대_50_금요일시간대_1_생활인구_수     int64
 473  여성연령대_50_금요일시간대_2_생활인구_수     int64
 474  여성연령대_50_금요일시간대_3_생활인구_수     int64
 475  여성연령대_50_금요일시간대_4_생활인구_수     int64
 476  여성연령대_50_금요일시간대_5_생활인구_수     int64
 477  여성연령대_50_금요일시간대_6_생활인구_수     int64
 478  여성연령대_50_토요일시간대_1_생활인구_수     int64
 479  여성연령대_50_토요일시간대_2_생활인구_수     int64
 480  여성연령대_50_토요일시간대_3_생활인구_수     int64
 481  여성연령대_50_토요일시간대_4_생활인구_수     int64
 482  여성연령대_50_토요일시간대_5_생활인구_수     int64

In [76]:
df3

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,112658,55901,56757,8418,...,185,181,158,46,66,115,162,158,132,39
1,2022,4,U,관광특구,1001495,잠실 관광특구,3632727,1757144,1875581,420460,...,6788,6949,8331,4315,7017,6913,6385,6565,7523,4113
2,2022,4,U,관광특구,1001494,종로?청계 관광특구,3957665,2127522,1830142,153739,...,13096,12960,9609,3662,4754,6670,8433,8798,7059,3777
3,2022,4,U,관광특구,1001493,동대문패션타운 관광특구,3249964,1534697,1715268,159801,...,7121,6495,5297,3077,5431,5784,5412,5078,6039,5319
4,2022,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,4667755,2345370,2322385,228777,...,15336,15293,8499,2011,2675,6137,8875,7776,5336,1695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40036,2017,1,A,골목상권,2110005,세검정,143249,62982,80268,21876,...,400,377,544,485,965,778,431,431,643,493
40037,2017,1,A,골목상권,2110004,대신고등학교,353902,156216,197686,66602,...,1133,1126,1546,1024,1983,1778,1153,1109,1554,1083
40038,2017,1,A,골목상권,2110003,세검정초등학교,374027,166810,207216,60121,...,1045,961,1298,1270,2791,2288,1160,1057,1461,1287
40039,2017,1,A,골목상권,2110002,독립문역 1번,268151,117436,150714,41597,...,1021,1002,1312,928,1499,1466,936,950,1320,922
40040,2017,1,A,골목상권,2110001,이북5도청사,148356,65549,82808,22420,...,592,582,840,579,1169,1026,579,621,817,571

In [77]:
df4

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,3361,2887,1246,225,34,2353,2824,1361,350,78
1,2022,4,U,관광특구,1001495,잠실 관광특구,24375,14199,10176,120,...,4186,3496,2297,1685,69,2238,2379,2121,2217,1152
2,2022,4,U,관광특구,1001494,종로?청계 관광특구,32935,17150,15785,68,...,4911,4591,4158,1190,53,3072,5054,4892,2243,471
3,2022,4,U,관광특구,1001493,동대문패션타운 관광특구,6054,2958,3096,36,...,737,662,600,403,23,891,958,498,461,265
4,2022,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,104830,53674,51156,423,...,16080,15133,10824,2640,286,18274,17927,8251,4902,1516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37739,2017,2,A,골목상권,2110005,세검정,445,159,286,0,...,38,47,27,27,0,58,102,56,43,27
37740,2017,2,A,골목상권,2110004,대신고등학교,41,14,27,0,...,1,2,9,1,0,1,3,8,12,3
37741,2017,2,A,골목상권,2110003,세검정초등학교,144,79,65,0,...,10,30,25,10,0,2,10,25,17,11
37742,2017,2,A,골목상권,2110002,독립문역 1번,583,152,431,0,...,29,53,31,22,0,116,119,114,61,21
37743,2017,2,A,골목상권,2110001,이북5도청사,276,158,118,0,...,37,55,41,23,0,7,31,34,32,14

In [78]:
df5

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,4770649,1016,...,0,34,982,77,779,87,24,44,5,6
1,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1364810577,4605,...,132,2208,1920,90,1044,1278,894,666,156,8
2,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8512320761,3912,...,0,1421,2491,0,106,212,781,785,2028,6
3,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,658389405,9080,...,36,4594,3400,54,2085,2412,1687,571,1183,5
4,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,383996294,3093,...,0,1687,1349,228,857,687,1063,200,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136815,2022,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,46710839,136,...,0,96,40,0,0,0,120,16,0,3
136816,2022,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,20931521,2018,...,0,955,1009,0,382,342,380,581,279,*
136817,2022,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5119924,159,...,18,115,18,0,0,18,18,54,44,*
136818,2022,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,92420017,10197,...,0,5872,3689,26,401,1191,2273,3093,2576,3
136819,2022,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,681810073,26389,...,98,15940,7749,110,926,2092,4267,7202,9093,11

In [79]:
df6

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [80]:
df2 = pd.merge(df2, df1[['상권_코드', '시군구명', '행정동_코드', '읍면동명', '동리명']], on='상권_코드', how='inner')
df3 = pd.merge(df3, df1[['상권_코드', '시군구명', '행정동_코드', '읍면동명', '동리명']], on='상권_코드', how='inner')
df4 = pd.merge(df4, df1[['상권_코드', '시군구명', '행정동_코드', '읍면동명', '동리명']], on='상권_코드', how='inner')
df5 = pd.merge(df5, df1[['상권_코드', '시군구명', '행정동_코드', '읍면동명', '동리명']], on='상권_코드', how='inner')
df6 = pd.merge(df6, df1[['상권_코드', '시군구명', '행정동_코드', '읍면동명', '동리명']], on='상권_코드', how='inner')

In [86]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1671 entries, 0 to 1670
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년월_코드    1671 non-null   int64
 1   상권_구분_코드    1671 non-null   object
 2   상권_구분_코드_명  1671 non-null   object
 3   상권_코드       1671 non-null   int64
 4   상권_코드_명     1671 non-null   object
 5   엑스좌표_값      1671 non-null   int64
 6   와이좌표_값      1671 non-null   int64
 7   시군구_코드      1671 non-null   int64
 8   행정동_코드_x    1671 non-null   int64
 9   형태정보        0 non-null      float64
 10  시군구명        1642 non-null   object
 11  행정동_코드_y    1671 non-null   int64
 12  읍면동명        1642 non-null   object
 13  동리명         1642 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 195.8+ KB

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역_주소.csv')
df2 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-상주인구).csv', encoding='cp949')
df3 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv', encoding='cp949')
df4 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-직장인구).csv', encoding='cp949')
df5 = pd.read_csv('/content/drive/MyDrive/상권분석/서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')

In [87]:
df2.to_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소추가.csv', index=False)
df3.to_csv('/content/drive/MyDrive/상권분석/(상권-생활인구)_주소추가.csv', index=False)
df4.to_csv('/content/drive/MyDrive/상권분석/(상권-직장인구)_주소추가.csv', index=False)
df5.to_csv('/content/drive/MyDrive/상권분석/(상권-추정매출)_주소추가.csv', index=False)