<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EA%B7%BC%EC%82%AC%EA%B0%92_VLOOKUP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/"
                 "panda-kim/pandas/main/merge_asof_01.csv")
df1 = df[df["분류"] == "df1"].iloc[:,[0,2,3]].sort_values("수량")
df2 = df[df["분류"] == "df2"].iloc[:,[0,2]].sort_values("수량").reset_index(drop=True)
df3 = df[df["분류"] == "df3"].iloc[:, :4].sort_values("수량").reset_index(drop=True)
df4 = df[df["분류"] == "df4"].iloc[:, :3].sort_values("수량").reset_index(drop=True)

In [13]:
df1

   사이즈      수량     단가
0   A4     1.0  100.0
1   A3     1.0  200.0
2   B5     1.0   80.0
3   A4    10.0   90.0
4   A3    10.0  180.0
5   B5    10.0   70.0
6   A3    50.0  150.0
7   A4   100.0   70.0
8   B5   100.0   60.0
9   A4   500.0   50.0
10  B5   500.0   40.0
11  B5  1000.0   20.0

In [14]:
df5 = pd.merge_asof(df2, df1, on='수량', by='사이즈')
df5['금액'] = df5['수량'] * df5['단가']
df5

   사이즈     수량     단가       금액
0   A3   10.0  180.0   1800.0
1   A4   10.0   90.0    900.0
2   A4   29.0   90.0   2610.0
3   A3   50.0  150.0   7500.0
4   A3   55.0  150.0   8250.0
..  ..    ...    ...      ...
95  B5  948.0   40.0  37920.0
96  B5  960.0   40.0  38400.0
97  A4  962.0   50.0  48100.0
98  B5  973.0   40.0  38920.0
99  A4  975.0   50.0  48750.0

[100 rows x 4 columns]

In [18]:
df6 = pd.merge_asof(df4, df3, on='수량', by=['사이즈','종류'])
df6['금액'] = df6['수량'] * df6['단가']
df6

   사이즈   종류     수량     단가       금액
0   A3  풀컬러   10.0  360.0   3600.0
1   A4   컬러   10.0   90.0    900.0
2   A4  풀컬러   29.0  180.0   5220.0
3   A3  풀컬러   50.0  160.0   8000.0
4   A3   컬러   55.0  150.0   8250.0
..  ..  ...    ...    ...      ...
95  B5   컬러  948.0   40.0  37920.0
96  B5  풀컬러  960.0   80.0  76800.0
97  A4   컬러  962.0   50.0  48100.0
98  B5   컬러  973.0   40.0  38920.0
99  A4  풀컬러  975.0  100.0  97500.0

[100 rows x 5 columns]