<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EB%8B%A4%EC%A4%91vlookup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

df1 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E02EXAMPLE.xlsx', sheet_name=1)
df1

      이름     제품     업체
0     백민  산채비빔밥  종가도시락
1    권상우  치킨도시락  두솥도시락
2    강인서  돈까스정식  두솥도시락
3    백종민  산채비빔밥  두솥도시락
4    권혁범  산채비빔밥  두솥도시락
..   ...    ...    ...
369  박민규  산채비빔밥  두솥도시락
370  문영동  돈까스정식  두솥도시락
371  백철민  돈까스정식  두솥도시락
372  김두진  산채비빔밥  종가도시락
373  김동수  돈까스정식  두솥도시락

[374 rows x 3 columns]

In [6]:
df2 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E02EXAMPLE.xlsx', sheet_name=2)
df2

      업체     제품    가격
0  두솥도시락  돈까스정식  5700
1  두솥도시락  산채비빔밥  5200
2  두솥도시락  치킨도시락  6300
3  종가도시락  돈까스정식  6600
4  종가도시락  산채비빔밥  6700
5  종가도시락  치킨도시락  5600

In [9]:
df3 = df1.merge(df2, how='left')
df3

      이름     제품     업체    가격
0     백민  산채비빔밥  종가도시락  6700
1    권상우  치킨도시락  두솥도시락  6300
2    강인서  돈까스정식  두솥도시락  5700
3    백종민  산채비빔밥  두솥도시락  5200
4    권혁범  산채비빔밥  두솥도시락  5200
..   ...    ...    ...   ...
369  박민규  산채비빔밥  두솥도시락  5200
370  문영동  돈까스정식  두솥도시락  5700
371  백철민  돈까스정식  두솥도시락  5700
372  김두진  산채비빔밥  종가도시락  6700
373  김동수  돈까스정식  두솥도시락  5700

[374 rows x 4 columns]

In [ ]:
df3.to_clipboard(index=False)