<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84%EC%9D%B4%EB%9E%80%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import pandas as pd
df1 = pd.DataFrame([["파이전자", 20, 30, 30, 40, "반도체"], 
                   ["썬닉스", 100, 90, 80, 100, "반도체"], 
                   ["판다센", 300, 320, 340, 0, "게임"], 
                   ["스마블", 0, 450, 300, 300, "게임"]], 
                  columns=["종목", "A팀", "B팀", "C팀", "D팀", "분류"])
s1 = pd.Series([35000, 10000, 2000, 5000], index=list(df1["종목"]))
df2 = df1.set_index("종목").iloc[:,:4].mul(s1, axis=0)
df2 = df2.reindex(["D팀", "C팀", "B팀", "A팀", "분류"], axis=1).reset_index()
df2["분류"] = df1["분류"]

In [21]:
list(df1.index)

[0, 1, 2, 3]

In [20]:
df1.columns

Index(['종목', 'A팀', 'B팀', 'C팀', 'D팀', '분류'], dtype='object')

In [24]:
df1.set_index(['분류','종목'], append=True )

             A팀   B팀   C팀   D팀
  분류  종목
0 반도체 파이전자   20   30   30   40
1 반도체 썬닉스   100   90   80  100
2 게임  판다센   300  320  340    0
3 게임  스마블     0  450  300  300

In [31]:
df3 = df1.loc[df1['종목'] !='판다센']
df3.reset_index(drop=True)

     종목   A팀   B팀   C팀   D팀   분류
0  파이전자   20   30   30   40  반도체
1   썬닉스  100   90   80  100  반도체
2   스마블    0  450  300  300   게임

In [32]:
df1.reindex(columns=['종목','C팀','A팀','B팀','D팀','분류'])

     종목   C팀   A팀   B팀   D팀   분류
0  파이전자   30   20   30   40  반도체
1   썬닉스   80  100   90  100  반도체
2   판다센  340  300  320    0   게임
3   스마블  300    0  450  300   게임

In [33]:
df1.reindex(columns=df2.columns)

     종목   D팀   C팀   B팀   A팀   분류
0  파이전자   40   30   30   20  반도체
1   썬닉스  100   80   90  100  반도체
2   판다센    0  340  320  300   게임
3   스마블  300  300  450    0   게임

In [36]:
df1.reindex(columns=['A팀','B팀','A팀','E팀'],fill_value=0)

    A팀   B팀   A팀  E팀
0   20   30   20   0
1  100   90  100   0
2  300  320  300   0
3    0  450    0   0

In [39]:
df1.rename(columns={'A팀':'Ai팀','B팀':'주식1팀'})

     종목  Ai팀  주식1팀   C팀   D팀   분류
0  파이전자   20    30   30   40  반도체
1   썬닉스  100    90   80  100  반도체
2   판다센  300   320  340    0   게임
3   스마블    0   450  300  300   게임

In [41]:
df1.index = [1,2,3,4]
df1

     종목   A팀   B팀   C팀   D팀   분류
1  파이전자   20   30   30   40  반도체
2   썬닉스  100   90   80  100  반도체
3   판다센  300  320  340    0   게임
4   스마블    0  450  300  300   게임

In [45]:
df2.sort_index(axis=1)

        A팀       B팀       C팀       D팀   분류    종목
0   700000  1050000  1050000  1400000  반도체  파이전자
1  1000000   900000   800000  1000000  반도체   썬닉스
2   600000   640000   680000        0   게임   판다센
3        0  2250000  1500000  1500000   게임   스마블