<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%97%91%EC%85%80%ED%88%AC%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%B2%98%EC%9D%8C%EB%B6%80%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df1 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E02EXAMPLE.xlsx',sheet_name=1)
df2 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E02EXAMPLE.xlsx',sheet_name=2)

In [12]:
df1

      이름     제품     업체
0     백민  산채비빔밥  종가도시락
1    권상우  치킨도시락  두솥도시락
2    강인서  돈까스정식  두솥도시락
3    백종민  산채비빔밥  두솥도시락
4    권혁범  산채비빔밥  두솥도시락
..   ...    ...    ...
369  박민규  산채비빔밥  두솥도시락
370  문영동  돈까스정식  두솥도시락
371  백철민  돈까스정식  두솥도시락
372  김두진  산채비빔밥  종가도시락
373  김동수  돈까스정식  두솥도시락

[374 rows x 3 columns]

In [13]:
df2

      업체     제품    가격
0  두솥도시락  돈까스정식  5700
1  두솥도시락  산채비빔밥  5200
2  두솥도시락  치킨도시락  6300
3  종가도시락  돈까스정식  6600
4  종가도시락  산채비빔밥  6700
5  종가도시락  치킨도시락  5600

In [14]:
df1.merge(df2,on=['업체','제품'],how='left')

      이름     제품     업체    가격
0     백민  산채비빔밥  종가도시락  6700
1    권상우  치킨도시락  두솥도시락  6300
2    강인서  돈까스정식  두솥도시락  5700
3    백종민  산채비빔밥  두솥도시락  5200
4    권혁범  산채비빔밥  두솥도시락  5200
..   ...    ...    ...   ...
369  박민규  산채비빔밥  두솥도시락  5200
370  문영동  돈까스정식  두솥도시락  5700
371  백철민  돈까스정식  두솥도시락  5700
372  김두진  산채비빔밥  종가도시락  6700
373  김동수  돈까스정식  두솥도시락  5700

[374 rows x 4 columns]

In [15]:
df1 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E03EXAMPLE.xlsx',sheet_name=1)
df2 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E03EXAMPLE.xlsx',sheet_name=2)

In [16]:
df1

      이름    업체    메뉴  수량
0    강민석   커피딘   스무디   1
1    박충선   커피딘  카페라떼   1
2    김보강   커피딘  아이스티   1
3    김서경  스타카페  아이스티   1
4    박지수   커피딘  아이스티   1
..   ...   ...   ...  ..
195  권혁호   커피딘   스무디   1
196  박은석  스타카페  아이스티   1
197  강인형   커피딘   스무디   1
198  박찬우  스타카페  아이스티   1
199  박재정   커피딘   스무디   1

[200 rows x 4 columns]

In [17]:
df2

     업체    메뉴    가격
0  스타카페   스무디  4400
1  스타카페  아이스티  4700
2  스타카페  카페라떼  5000
3   커피딘   스무디  4900
4   커피딘  아이스티  4200
5   커피딘  카페라떼  4500

In [19]:
df3 = df1.merge(df2,how='left')
df3

      이름    업체    메뉴  수량    가격
0    강민석   커피딘   스무디   1  4900
1    박충선   커피딘  카페라떼   1  4500
2    김보강   커피딘  아이스티   1  4200
3    김서경  스타카페  아이스티   1  4700
4    박지수   커피딘  아이스티   1  4200
..   ...   ...   ...  ..   ...
195  권혁호   커피딘   스무디   1  4900
196  박은석  스타카페  아이스티   1  4700
197  강인형   커피딘   스무디   1  4900
198  박찬우  스타카페  아이스티   1  4700
199  박재정   커피딘   스무디   1  4900

[200 rows x 5 columns]

In [21]:
df1.pivot_table('수량',index='업체',columns='메뉴',aggfunc='sum')

메뉴    스무디  아이스티  카페라떼
업체
스타카페   37    36    26
커피딘    36    40    25

In [29]:
pdf1 = df3.pivot_table('수량',index=['업체','메뉴'],aggfunc='count')
pdf1

           수량
업체   메뉴
스타카페 스무디   37
     아이스티  36
     카페라떼  26
커피딘  스무디   36
     아이스티  40
     카페라떼  25

In [27]:
pdf2 = df3.pivot_table('가격',index='업체',aggfunc='sum')
pdf2

          가격
업체
스타카페  462000
커피딘   456900