<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%97%B0%EB%8F%84_%EB%B6%84%EA%B8%B0_%EC%B4%9D%ED%95%A9%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [35]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/상주인구_adm.csv')

In [36]:
dfs = [df1]

for df in dfs:
    for col in df.select_dtypes(include='int64').columns:
        if not df[col].isna().any():
            try:
                if df[col].max() <= 255:
                    df[col] = df[col].astype('Int8')
                elif df[col].max() <= 65535:
                    df[col] = df[col].astype('Int16')
                elif df[col].max() <= 4294967295:
                    df[col] = df[col].astype('Int32')
            except TypeError:
                pass

In [37]:
df2 = df1[(df1['시군구명']=='마포구')]
df2

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,비 아파트 가구 수,상권 코드 명,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
2939,2022,4,R,전통시장,2130198,675,320,355,58,111,...,404,아현시장,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
2940,2022,3,R,전통시장,2130198,675,320,355,58,111,...,404,아현시장,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
2941,2022,2,R,전통시장,2130198,675,320,355,58,111,...,404,아현시장,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
2942,2022,1,R,전통시장,2130198,675,320,355,58,111,...,404,아현시장,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
2943,2021,4,R,전통시장,2130198,675,320,355,58,111,...,404,아현시장,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,2018,1,A,골목상권,2110540,2880,1439,1441,440,402,...,1037,망원나들목체육관,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
25969,2017,4,A,골목상권,2110540,2880,1439,1441,440,402,...,1037,망원나들목체육관,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
25970,2017,3,A,골목상권,2110540,2915,1478,1437,447,389,...,1052,망원나들목체육관,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
25971,2017,2,A,골목상권,2110540,2915,1478,1437,447,389,...,1052,망원나들목체육관,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
25972,2017,1,A,골목상권,2110540,3055,1558,1497,502,412,...,1057,망원나들목체육관,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690

In [43]:
df3 = df2.groupby(['기준_년_코드', '기준_분기_코드', '읍면동명'])['총 상주인구 수'].sum().unstack(level=2)

In [42]:
df2 = df2[df2['기준_년_코드'] != 2017]

In [44]:
df3

읍면동명                공덕동   대흥동   도화동  망원제1동  망원제2동   상암동   서강동    서교동  성산제1동  \
기준_년_코드 기준_분기_코드
2018    1         15886  6112  3323  19038  14175  3756  7026  32405  18741
        2         15987  6055  3316  18869  13787  4131  6740  31700  18671
        3         15987  6055  3316  18869  13787  4131  6740  31700  18671
        4         16224  5974  3294  18573  13732  4210  6653  29720  18648
2019    1         16224  5974  3294  18573  13732  4210  6653  29720  18648
        2         16224  5974  3294  18573  13732  4210  6653  29720  18648
        3         16224  5974  3294  18573  13732  4210  6653  29720  18648
        4         13063  4426  2665  14030  10035  3546  5201  22447  14510
2020    1         13063  4426  2665  14030  10035  3546  5201  22447  14510
        2         13063  4426  2665  14030  10035  3546  5201  22447  14510
        3         13063  4426  2665  14030  10035  3546  5201  22447  14510
        4         14958  5464  3121  17569  13334  4148  6326  29784  18159
2021    1         14958  5464  3121  17569  13334  4148  6326  29784  18159
        2         14958  5464  3121  17569  13334  4148  6326  29784  18159
        3         14958  5464  3121  17569  13334  4148  6326  29784  18159
        4         14958  5464  3121  17569  13334  4148  6326  29784  18159
2022    1         14958  5464  3121  17569  13334  4148  6326  29784  18159
        2         14958  5464  3121  17569  13334  4148  6326  29784  18159
        3         14958  5464  3121  17569  13334  4148  6326  29784  18159
        4         14958  5464  3121  17569  13334  4148  6326  29784  18159

읍면동명              성산제2동   신수동   아현동   연남동   염리동   용강동    합정동
기준_년_코드 기준_분기_코드
2018    1         10444  6013  1429  4598  4966  4489  18233
        2         11552  5943  1398  4721  5031  4778  16896
        3         11552  5943  1398  4721  5031  4778  16896
        4         11914  5896  1388  4648  4870  4790  16760
2019    1         11914  5896  1388  4648  4870  4790  16760
        2         11914  5896  1388  4648  4870  4790  16760
        3         11914  5896  1388  4648  4870  4790  16760
        4          9767  4612   972  3653  3555  3645  18833
2020    1          9767  4612   972  3653  3555  3645  18833
        2          9767  4612   972  3653  3555  3645  18833
        3          9767  4612   972  3653  3555  3645  18833
        4         12243  6172  1379  4483  4406  5184  18620
2021    1         12243  6172  1379  4483  4406  5184  18620
        2         12243  6172  1379  4483  4406  5184  18620
        3         12243  6172  1379  4483  4406  5184  18620
        4         12243  6172  1379  4483  4406  5184  18620
2022    1         12243  6172  1379  4483  4406  5184  18620
        2         12243  6172  1379  4483  4406  5184  18620
        3         12243  6172  1379  4483  4406  5184  18620
        4         12243  6172  1379  4483  4406  5184  18620

In [45]:
df3.to_csv('/content/drive/MyDrive/상권분석/상주인구_adm_총합.csv')