<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%97%B4(column).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df1 = pd.DataFrame([["송중기", 92, 82], ["권보아", 89, 91], ["김나현", 71, 89], 
                    ["박효신", 90, 78]], columns=["이름", "영어", "국어"])
df2 = df1.copy()
df3 = df1.copy()
df4 = df1.copy()

In [8]:
df2['반'] = 1
pd.concat([df2.iloc[:,-1], df2.iloc[:,:-1]],axis=1)

   반   이름  영어  국어
0  1  송중기  92  82
1  1  권보아  89  91
2  1  김나현  71  89
3  1  박효신  90  78

In [11]:
df3.insert(loc=0,column='반', value=1)
df3

   반   이름  영어  국어
0  1  송중기  92  82
1  1  권보아  89  91
2  1  김나현  71  89
3  1  박효신  90  78