<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%A3%BC%EC%86%8C%EC%B6%94%EA%B0%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd

In [69]:
df = pd.read_csv('/content/drive/MyDrive/상권분석/행정동_코드.csv')
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역_주소.csv')
df2 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역.csv')

In [94]:
df.head()

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,동리명,sggnm,adm_cd8,geometry
0,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,사직동,종로구,11010530,MULTIPOLYGON (((126.97688884274817 37.57565077...
1,2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,삼청동,종로구,11010540,MULTIPOLYGON (((126.98268938649305 37.59506551...
2,3,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,부암동,종로구,11010550,MULTIPOLYGON (((126.97585113775686 37.59656422...
3,4,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,평창동,종로구,11010560,MULTIPOLYGON (((126.97507466788086 37.63138628...
4,5,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,무악동,종로구,11010570,MULTIPOLYGON (((126.96067353273895 37.58079784...

In [77]:
df = df.rename(columns={'temp': '동리명'})

In [ ]:
df3 = pd.merge(df1, df['adm_cd8'], on=['lat', 'long'], how='left')

In [58]:
df['geometry'].head()

0    MULTIPOLYGON (((126.97688884274817 37.57565077...
1    MULTIPOLYGON (((126.98268938649305 37.59506551...
2    MULTIPOLYGON (((126.97585113775686 37.59656422...
3    MULTIPOLYGON (((126.97507466788086 37.63138628...
4    MULTIPOLYGON (((126.96067353273895 37.58079784...
Name: geometry, dtype: object

In [74]:
df['temp'] = df['temp'].str.replace(r'\b\w+구\s*\b', '')

<ipython-input-74-163d9c4f159f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['temp'] = df['temp'].str.replace(r'\b\w+구\s*\b', '')

In [59]:
import re

def extract_lat_long(geometry):
    match = re.search(r'\(\(\(([\d.]+) ([\d.]+)', geometry)
    if match:
        return float(match.group(2)), float(match.group(1))
    else:
        return None, None

df[['long', 'lat']] = df['geometry'].apply(extract_lat_long).apply(pd.Series)

In [90]:
df1

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,lat,long,시도명,시군구명,읍면동명,법정동코드,동리명
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN,126.908844,37.448687,서울특별시,금천구,시흥제5동,1.154510e+09,시흥동
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN,127.070978,37.634469,서울특별시,노원구,하계1동,1.135010e+09,하계동
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN,126.912978,37.451006,서울특별시,금천구,시흥제2동,1.154510e+09,시흥동
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN,126.901564,37.441482,서울특별시,금천구,시흥제3동,1.154510e+09,시흥동
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN,127.115614,37.509060,서울특별시,송파구,방이2동,1.171011e+09,방이동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN,127.011025,37.567312,서울특별시,중구,광희동,1.114013e+09,충무로4가
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN,126.997374,37.569998,서울특별시,종로구,종로1.2.3.4가동,1.111012e+09,세종로
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN,127.115275,37.516476,서울특별시,송파구,오륜동,1.171011e+09,방이동
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003,서울특별시,강남구,삼성1동,1.168010e+09,삼성동
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN,126.994377,37.534435,서울특별시,용산구,이태원제1동,1.117013e+09,이태원동

In [91]:
df_unique = df.drop_duplicates(subset=['동리명'], keep='first')
df3 = pd.merge(df1, df_unique[['adm_cd8', '동리명']], on=['동리명'], how='left')

In [63]:
df = df.rename(columns={'lat': 'long', 'long': 'lat'})

In [92]:
df3

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,lat,long,시도명,시군구명,읍면동명,법정동코드,동리명,adm_cd8
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN,126.908844,37.448687,서울특별시,금천구,시흥제5동,1.154510e+09,시흥동,31021660.0
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN,127.070978,37.634469,서울특별시,노원구,하계1동,1.135010e+09,하계동,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN,126.912978,37.451006,서울특별시,금천구,시흥제2동,1.154510e+09,시흥동,31021660.0
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN,126.901564,37.441482,서울특별시,금천구,시흥제3동,1.154510e+09,시흥동,31021660.0
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN,127.115614,37.509060,서울특별시,송파구,방이2동,1.171011e+09,방이동,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN,127.011025,37.567312,서울특별시,중구,광희동,1.114013e+09,충무로4가,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN,126.997374,37.569998,서울특별시,종로구,종로1.2.3.4가동,1.111012e+09,세종로,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN,127.115275,37.516476,서울특별시,송파구,오륜동,1.171011e+09,방이동,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN,127.060059,37.511003,서울특별시,강남구,삼성1동,1.168010e+09,삼성동,11210820.0
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN,126.994377,37.534435,서울특별시,용산구,이태원제1동,1.117013e+09,이태원동,NaN

In [101]:
df4 = pd.read_csv('/content/drive/MyDrive/상권분석/상권영역_행정동포함.csv')
df5 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-상권변화지표)_주소추가.csv')
df6 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-상주인구)_주소추가.csv')
df7 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-생활인구)_주소추가.csv')
df8 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-직장인구)_주소추가.csv')
df9 = pd.read_csv('/content/drive/MyDrive/상권분석/(상권-추정매출)_주소추가.csv')

In [102]:
df4.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보,...,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,temp,sggnm,adm_cd8
0,202112,A,골목상권,2110038,경향신문사,197323,452000,11140,11140520,NaN,...,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,11010530
1,202112,A,골목상권,2110012,성곡미술관,197253,452645,11110,11110530,NaN,...,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,11010530
2,202112,D,발달상권,2120023,서울시청,198027,452010,11140,11140550,NaN,...,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,11010530
3,202112,D,발달상권,2120003,광화문역,197731,452507,11110,11110530,NaN,...,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,11010530
4,202112,A,골목상권,2110017,정독도서관,198558,453794,11110,11110600,NaN,...,2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구 삼청동,종로구,11010540

In [103]:
df5.head()

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균,시군구명,읍면동명,동리명
0,0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,HH,정체,146,65,123,56,강남구,삼성1동,삼성동
1,1,2022,4,U,관광특구,1001495,잠실 관광특구,LL,다이나믹,118,55,123,56,송파구,오륜동,방이동
2,2,2022,4,U,관광특구,1001494,종로?청계 관광특구,HH,정체,165,75,123,56,종로구,종로1.2.3.4가동,세종로
3,3,2022,4,U,관광특구,1001493,동대문패션타운 관광특구,HH,정체,151,65,123,56,중구,광희동,충무로4가
4,4,2022,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,HH,정체,170,66,123,56,중구,소공동,소공동

In [104]:
df6.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,총 상주인구 수,남성 상주인구 수,여성 상주인구 수,연령대 10 상주인구 수,연령대 20 상주인구 수,...,여성연령대 50 상주인구 수,여성연령대 60 이상 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,상권_코드_명,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,U,관광특구,1001496,29,16,13,2,4,...,4,2,18,0,18,강남 마이스 관광특구,강남구,11680580,삼성1동,삼성동
1,2022,3,U,관광특구,1001496,29,16,13,2,4,...,4,2,18,0,18,강남 마이스 관광특구,강남구,11680580,삼성1동,삼성동
2,2022,2,U,관광특구,1001496,29,16,13,2,4,...,4,2,18,0,18,강남 마이스 관광특구,강남구,11680580,삼성1동,삼성동
3,2022,1,U,관광특구,1001496,29,16,13,2,4,...,4,2,18,0,18,강남 마이스 관광특구,강남구,11680580,삼성1동,삼성동
4,2021,4,U,관광특구,1001496,29,16,13,2,4,...,4,2,18,0,18,강남 마이스 관광특구,강남구,11680580,삼성1동,삼성동

In [105]:
df7.head()

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,112658,55901,56757,8418,...,66,115,162,158,132,39,강남구,11680580,삼성1동,삼성동
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,112779,55430,57349,9270,...,64,108,159,160,135,40,강남구,11680580,삼성1동,삼성동
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,106859,53586,53273,7510,...,55,112,163,152,121,38,강남구,11680580,삼성1동,삼성동
3,2022,1,U,관광특구,1001496,강남 마이스 관광특구,92815,46773,46043,6348,...,65,93,119,122,101,35,강남구,11680580,삼성1동,삼성동
4,2021,4,U,관광특구,1001496,강남 마이스 관광특구,102294,51045,51249,6685,...,65,106,136,143,122,42,강남구,11680580,삼성1동,삼성동

In [106]:
df8.head()

,기준_년월_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,...,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,34,2353,2824,1361,350,78,강남구,11680580,삼성1동,삼성동
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,34,2353,2824,1361,350,78,강남구,11680580,삼성1동,삼성동
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,34,2353,2824,1361,350,78,강남구,11680580,삼성1동,삼성동
3,2022,1,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,34,2353,2824,1361,350,78,강남구,11680580,삼성1동,삼성동
4,2021,4,U,관광특구,1001496,강남 마이스 관광특구,15904,8904,7000,59,...,34,2353,2824,1361,350,78,강남구,11680580,삼성1동,삼성동

In [107]:
df9.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,시군구명,행정동_코드,읍면동명,동리명
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,4770649,1016,...,779,87,24,44,5,6,강남구,11680580,삼성1동,삼성동
1,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1364810577,4605,...,1044,1278,894,666,156,8,강남구,11680580,삼성1동,삼성동
2,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8512320761,3912,...,106,212,781,785,2028,6,강남구,11680580,삼성1동,삼성동
3,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,658389405,9080,...,2085,2412,1687,571,1183,5,강남구,11680580,삼성1동,삼성동
4,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,383996294,3093,...,857,687,1063,200,0,6,강남구,11680580,삼성1동,삼성동