<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%A3%BC%EC%A4%91_%EC%A3%BC%EB%A7%90_%EA%B5%AC%ED%95%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd

In [36]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/생활인구_adm.csv')
df1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,112658,55901,56757,8418,...,132,39,11680580,강남구,삼성1동,127.060059,37.511003,1123058,1168058000,11230580
1,2022,3,U,관광특구,1001496,강남 마이스 관광특구,112779,55430,57349,9270,...,135,40,11680580,강남구,삼성1동,127.060059,37.511003,1123058,1168058000,11230580
2,2022,2,U,관광특구,1001496,강남 마이스 관광특구,106859,53586,53273,7510,...,121,38,11680580,강남구,삼성1동,127.060059,37.511003,1123058,1168058000,11230580
3,2022,1,U,관광특구,1001496,강남 마이스 관광특구,92815,46773,46043,6348,...,101,35,11680580,강남구,삼성1동,127.060059,37.511003,1123058,1168058000,11230580
4,2021,4,U,관광특구,1001496,강남 마이스 관광특구,102294,51045,51249,6685,...,122,42,11680580,강남구,삼성1동,127.060059,37.511003,1123058,1168058000,11230580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39340,2018,1,A,골목상권,2110001,이북5도청사,137615,63092,74524,22186,...,666,476,11110560,종로구,평창동,126.956884,37.609345,1101056,1111056000,11010560
39341,2017,4,A,골목상권,2110001,이북5도청사,134298,60746,73552,22196,...,696,489,11110560,종로구,평창동,126.956884,37.609345,1101056,1111056000,11010560
39342,2017,3,A,골목상권,2110001,이북5도청사,129923,58897,71026,20541,...,658,459,11110560,종로구,평창동,126.956884,37.609345,1101056,1111056000,11010560
39343,2017,2,A,골목상권,2110001,이북5도청사,145046,65024,80022,22556,...,754,547,11110560,종로구,평창동,126.956884,37.609345,1101056,1111056000,11010560
39344,2017,1,A,골목상권,2110001,이북5도청사,148356,65549,82808,22420,...,817,571,11110560,종로구,평창동,126.956884,37.609345,1101056,1111056000,11010560

In [45]:
df4 = df1[df1['시군구명']=='마포구']
df4

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
3216,2022,4,R,전통시장,2130198,아현시장,262986,118045,144942,53038,...,744,551,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
3217,2022,3,R,전통시장,2130198,아현시장,256178,114962,141215,51437,...,694,518,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
3218,2022,2,R,전통시장,2130198,아현시장,270367,120885,149482,58928,...,724,557,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
3219,2022,1,R,전통시장,2130198,아현시장,251710,111451,140259,44070,...,752,547,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
3220,2021,4,R,전통시장,2130198,아현시장,254973,113408,141566,46222,...,730,542,11440555,마포구,아현동,126.953927,37.556149,1114078,1144055500,11140780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26860,2018,1,A,골목상권,2110540,망원나들목체육관,516736,258137,258599,75118,...,1024,1121,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
26861,2017,4,A,골목상권,2110540,망원나들목체육관,552676,283074,269602,67283,...,1208,1223,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
26862,2017,3,A,골목상권,2110540,망원나들목체육관,594593,307352,287240,74216,...,1227,1378,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
26863,2017,2,A,골목상권,2110540,망원나들목체육관,629472,325919,303554,80700,...,1359,1373,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690
26864,2017,1,A,골목상권,2110540,망원나들목체육관,689687,354788,334899,96893,...,1392,1599,11440690,마포구,망원제1동,126.899855,37.554017,1114069,1144069000,11140690

In [46]:
df4['읍면동명'].unique()

array(['아현동', '도화동', '용강동', '신수동', '연남동', '서교동', '합정동', '망원제1동', '망원제2동',
       '성산제2동', '상암동', '공덕동', '서강동', '염리동', '대흥동', '성산제1동'], dtype=object)

In [30]:
df1[(df1['읍면동명']=='연남동') & (df1['기준_분기_코드']==4) & (df1['기준_년_코드']==2018)]

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수,행정동_코드,시군구명,읍면동명,lon,lat,adm_cd,adm_cd2,adm_cd8
3376,2018,4,R,전통시장,2130192,동진시장,39280,17297,21985,2645,...,90,64,11440710,마포구,연남동,126.926815,37.562307,1114071,1144071000,11140710
26329,2018,4,A,골목상권,2110562,연트럴파크(연남동주민센터),1033638,457201,576437,92289,...,2118,1939,11440710,마포구,연남동,126.923634,37.563594,1114071,1144071000,11140710
26377,2018,4,A,골목상권,2110560,마포FM,635715,282409,353307,89928,...,1420,1330,11440710,마포구,연남동,126.918454,37.560122,1114071,1144071000,11140710

In [37]:
df2 = df1[['기준_년_코드', '기준_분기_코드', '시군구명', '읍면동명', '월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']]
df2

,기준_년_코드,기준_분기_코드,시군구명,읍면동명,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수
0,2022,4,강남구,삼성1동,15275,17149,17951,18478,18144,13757,11903
1,2022,3,강남구,삼성1동,15622,16729,17618,18382,17770,14152,12509
2,2022,2,강남구,삼성1동,15012,16326,16915,17593,17247,12963,10805
3,2022,1,강남구,삼성1동,13648,13721,14053,15264,15081,11312,9736
4,2021,4,강남구,삼성1동,13986,15268,16222,16676,16343,12935,10865
...,...,...,...,...,...,...,...,...,...,...,...
39340,2018,1,종로구,평창동,18953,19039,18705,19159,18750,21039,21973
39341,2017,4,종로구,평창동,18697,18597,18197,18578,18315,20653,21260
39342,2017,3,종로구,평창동,17613,18501,18020,18194,17583,19725,20286
39343,2017,2,종로구,평창동,20408,20986,19983,19338,19102,22114,23115
39344,2017,1,종로구,평창동,20679,20193,20473,20651,20543,22426,23392

In [39]:
df3 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4)]
df3

,기준_년_코드,기준_분기_코드,시군구명,읍면동명,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수
3216,2022,4,마포구,아현동,37803,39709,39047,38867,39035,35392,33132
3220,2021,4,마포구,아현동,36824,38062,38087,38201,37657,34411,31729
3224,2020,4,마포구,아현동,71613,71104,71916,70616,70424,72701,70190
3228,2019,4,마포구,아현동,64043,64597,63765,65066,65046,67053,65018
3232,2018,4,마포구,아현동,75112,76193,76698,77357,77050,80659,85584
...,...,...,...,...,...,...,...,...,...,...,...
26845,2021,4,마포구,망원제1동,68083,67192,67200,67333,67541,71215,73494
26849,2020,4,마포구,망원제1동,78553,78220,78342,78821,79664,83609,86782
26853,2019,4,마포구,망원제1동,81425,82080,85717,85542,85133,94436,98483
26857,2018,4,마포구,망원제1동,72763,74429,73279,72744,73543,80881,81247
26861,2017,4,마포구,망원제1동,76454,74649,75483,75186,76628,86774,87502

In [40]:
df2018 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4) & (df2['기준_년_코드']==2018)]
df2018

,기준_년_코드,기준_분기_코드,시군구명,읍면동명,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수
3232,2018,4,마포구,아현동,75112,76193,76698,77357,77050,80659,85584
3256,2018,4,마포구,아현동,10780,10671,10946,11042,10967,6958,5790
3280,2018,4,마포구,아현동,6450,6434,6593,6630,6603,4563,3705
3304,2018,4,마포구,도화동,240390,238321,245519,254084,258150,229939,196718
3328,2018,4,마포구,용강동,84436,83588,84260,84362,84542,76434,71345
...,...,...,...,...,...,...,...,...,...,...,...
26761,2018,4,마포구,망원제1동,564419,573849,566999,568726,571277,593910,583653
26785,2018,4,마포구,성산제2동,19636,19462,19579,19393,19562,20180,18961
26809,2018,4,마포구,망원제2동,344306,356303,347692,349393,352539,362665,359749
26833,2018,4,마포구,망원제2동,163583,169475,167837,166318,167371,173512,173674
26857,2018,4,마포구,망원제1동,72763,74429,73279,72744,73543,80881,81247

In [31]:
df1.loc[(df1['읍면동명'] == '연남동') & (df1['기준_분기_코드'] == 4) & (df1['기준_년_코드'] == 2018), '월요일_생활인구_수']

3376       4763
26329    140376
26377     87318
Name: 월요일_생활인구_수, dtype: int64

In [32]:
df2018_1 = df2018.groupby('읍면동명')[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']].sum()
df2018_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 공덕동 to 합정동
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   월요일_생활인구_수  16 non-null     int64
 1   화요일_생활인구_수  16 non-null     int64
 2   수요일_생활인구_수  16 non-null     int64
 3   목요일_생활인구_수  16 non-null     int64
 4   금요일_생활인구_수  16 non-null     int64
 5   토요일_생활인구_수  16 non-null     int64
 6   일요일_생활인구_수  16 non-null     int64
dtypes: int64(7)
memory usage: 1.0+ KB

In [50]:
df2022 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4) & (df2['기준_년_코드']==2022)]
df2022_1 = df2022.groupby('읍면동명')[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']].sum()
df2022_1['주중_생활인구_수'] = df2022_1[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수']].sum(axis=1)
df2022_1['주말_생활인구_수'] = df2022_1[['토요일_생활인구_수', '일요일_생활인구_수']].sum(axis=1)
df2022_1

,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수,주중_생활인구_수,주말_생활인구_수
읍면동명,,,,,,,,,
공덕동,1015286,1023799,1023868,1020188,1012930,961967,961784,5096071,1923751
대흥동,347405,353436,351643,350674,347859,335608,330672,1751017,666280
도화동,171491,176895,177101,178408,180180,173009,160034,884075,333043
망원제1동,680442,670804,675868,675695,687076,750042,754390,3389885,1504432
망원제2동,555870,548144,551397,548442,549723,579045,591343,2753576,1170388
상암동,165667,180877,180200,180553,171014,123082,109110,878311,232192
서강동,312620,320452,321426,322025,325036,332474,323287,1601559,655761
서교동,2348164,2376057,2415051,2441313,2587348,2769525,2521443,12167933,5290968
성산제1동,593885,588779,586019,587329,583478,589974,601343,2939490,1191317
성산제2동,348584,341791,343828,341668,339681,357362,366253,1715552,723615
신수동,275373,279172,278483,277416,272872,273229,272892,1383316,546121
아현동,115137,119360,118407,117990,116729,96916,90795,587623,187711
연남동,234421,233368,235911,236075,241085,257826,253078,1180860,510904
염리동,448440,451767,450235,449140,445452,434618,434915,2245034,869533
용강동,347656,357353,355525,357692,354439,323754,306538,1772665,630292
합정동,651512,665754,668051,675403,689465,689749,660875,3350185,1350624