<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%A3%BC%EC%A4%91_%EC%A3%BC%EB%A7%90_%EA%B5%AC%ED%95%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/상권분석/추정매출/추정매출(2022).csv의 사본')
df1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,행정동_코드,시군구명,읍면동명,lon,lat
0,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,4770649,1016,...,87,24,44,5,6,11680580,강남구,삼성1동,127.060059,37.511003
1,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1364810577,4605,...,1278,894,666,156,8,11680580,강남구,삼성1동,127.060059,37.511003
2,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,8512320761,3912,...,212,781,785,2028,6,11680580,강남구,삼성1동,127.060059,37.511003
3,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,658389405,9080,...,2412,1687,571,1183,5,11680580,강남구,삼성1동,127.060059,37.511003
4,2022,4,U,관광특구,1001496,강남 마이스 관광특구,CS300026,완구,383996294,3093,...,687,1063,200,0,6,11680580,강남구,삼성1동,127.060059,37.511003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134493,2022,2,A,골목상권,2110443,수색역 1번,CS200028,미용실,19748204,753,...,129,170,327,113,*,11380650,은평구,수색동,126.895365,37.584214
134494,2022,2,A,골목상권,2110443,수색역 1번,CS100001,한식음식점,1636212,77,...,0,0,6,12,*,11380650,은평구,수색동,126.895365,37.584214
134495,2022,1,A,골목상권,2110443,수색역 1번,CS200028,미용실,18888309,629,...,105,172,240,62,*,11380650,은평구,수색동,126.895365,37.584214
134496,2022,1,A,골목상권,2110443,수색역 1번,CS100001,한식음식점,362022,6,...,0,0,6,0,*,11380650,은평구,수색동,126.895365,37.584214
134497,2022,1,R,전통시장,2130006,종로4가지하쇼핑센터,CS300017,시계및귀금속,21602,4,...,4,0,0,0,6,11110615,종로구,종로1.2.3.4가동,126.997872,37.569610

In [ ]:
df2 = df1[(df1['시군구명']=='마포구') & (df1['읍면동명']=='공덕동')]
df2

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,행정동_코드,시군구명,읍면동명,lon,lat
44127,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS300028,화초,161868488,1492,...,314,242,89,71,11,11440565,마포구,공덕동,126.952078,37.544075
44128,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS300022,화장품,804818279,4237,...,1525,736,505,529,35,11440565,마포구,공덕동,126.952078,37.544075
44129,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS300021,문구,750529076,26791,...,5197,5318,4325,1986,6,11440565,마포구,공덕동,126.952078,37.544075
44130,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS300019,의료기기,2538000000,4640,...,559,1663,906,1512,7,11440565,마포구,공덕동,126.952078,37.544075
44131,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS300018,의약품,2920263209,181204,...,52999,43323,30680,25872,30,11440565,마포구,공덕동,126.952078,37.544075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94571,2022,1,A,골목상권,2110586,서울서부지방법원,CS100005,제과점,7909136,694,...,139,85,166,139,*,11440565,마포구,공덕동,126.956500,37.548978
94572,2022,1,A,골목상권,2110586,서울서부지방법원,CS100004,양식음식점,27188083,1764,...,455,337,239,97,3,11440565,마포구,공덕동,126.956500,37.548978
94573,2022,1,A,골목상권,2110586,서울서부지방법원,CS100003,일식음식점,368043057,4901,...,1068,651,715,350,8,11440565,마포구,공덕동,126.956500,37.548978
94574,2022,1,A,골목상권,2110586,서울서부지방법원,CS100002,중식음식점,242084317,9663,...,1770,1946,2056,836,4,11440565,마포구,공덕동,126.956500,37.548978
94575,2022,1,A,골목상권,2110586,서울서부지방법원,CS100001,한식음식점,4066217853,106110,...,18483,17880,23869,15088,63,11440565,마포구,공덕동,126.956500,37.548978

In [ ]:
df2 = df2[df2['서비스_업종_코드_명']=='커피-음료']

In [ ]:
df2 = df2[df2['기준_분기_코드']==4]

In [ ]:
df2

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,행정동_코드,시군구명,읍면동명,lon,lat
44151,2022,4,D,발달상권,2120107,공덕역(공덕오거리),CS100010,커피-음료,2458767987,324447,...,89843,55985,41289,18363,55,11440565,마포구,공덕동,126.952078,37.544075
94349,2022,4,A,골목상권,2110588,한겨레신문사,CS100010,커피-음료,73963763,10868,...,2981,2469,1731,701,5,11440565,마포구,공덕동,126.959963,37.548061
94401,2022,4,A,골목상권,2110587,공덕동주민센터,CS100010,커피-음료,47769374,5582,...,1705,955,934,384,5,11440565,마포구,공덕동,126.959080,37.548871
94471,2022,4,A,골목상권,2110586,서울서부지방법원,CS100010,커피-음료,434170917,56596,...,13990,12976,10034,3065,15,11440565,마포구,공덕동,126.956500,37.548978

In [ ]:
print(df2['월요일_매출_건수'].sum())
print('+')
print(df2['화요일_매출_건수'].sum())
print('+')
print(df2['수요일_매출_건수'].sum())
print('+')
print(df2['목요일_매출_건수'].sum())
print('+')
print(df2['금요일_매출_건수'].sum())
print('+')
print(df2['토요일_매출_건수'].sum())
print('+')
print(df2['일요일_매출_건수'].sum())

61279
+
68927
+
70613
+
67405
+
63505
+
36416
+
29348

In [ ]:
df2['화요일_매출_금액'].sum()

1524158

In [ ]:
df2['수요일_매출_건수'].sum()

1484654

In [ ]:
df2['목요일_매출_건수'].sum()

1520315

In [ ]:
df2['금요일_매출_건수'].sum()

1615760

In [ ]:
df2['토요일_매출_건수'].sum()

1109349

In [ ]:
df2['일요일_매출_건수'].sum()

635785

In [ ]:
df2[['기준_년_코드', '기준_분기_코드', '시군구명', '읍면동명', '월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']]

KeyError: ignored

In [ ]:
df3 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4)]
df3

,기준_년_코드,기준_분기_코드,시군구명,읍면동명,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수
3216,2022,4,마포구,아현동,37803,39709,39047,38867,39035,35392,33132
3220,2021,4,마포구,아현동,36824,38062,38087,38201,37657,34411,31729
3224,2020,4,마포구,아현동,71613,71104,71916,70616,70424,72701,70190
3228,2019,4,마포구,아현동,64043,64597,63765,65066,65046,67053,65018
3232,2018,4,마포구,아현동,75112,76193,76698,77357,77050,80659,85584
...,...,...,...,...,...,...,...,...,...,...,...
26845,2021,4,마포구,망원제1동,68083,67192,67200,67333,67541,71215,73494
26849,2020,4,마포구,망원제1동,78553,78220,78342,78821,79664,83609,86782
26853,2019,4,마포구,망원제1동,81425,82080,85717,85542,85133,94436,98483
26857,2018,4,마포구,망원제1동,72763,74429,73279,72744,73543,80881,81247
26861,2017,4,마포구,망원제1동,76454,74649,75483,75186,76628,86774,87502

In [ ]:
df2018 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4) & (df2['기준_년_코드']==2018)]
df2018

,기준_년_코드,기준_분기_코드,시군구명,읍면동명,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수
3232,2018,4,마포구,아현동,75112,76193,76698,77357,77050,80659,85584
3256,2018,4,마포구,아현동,10780,10671,10946,11042,10967,6958,5790
3280,2018,4,마포구,아현동,6450,6434,6593,6630,6603,4563,3705
3304,2018,4,마포구,도화동,240390,238321,245519,254084,258150,229939,196718
3328,2018,4,마포구,용강동,84436,83588,84260,84362,84542,76434,71345
...,...,...,...,...,...,...,...,...,...,...,...
26761,2018,4,마포구,망원제1동,564419,573849,566999,568726,571277,593910,583653
26785,2018,4,마포구,성산제2동,19636,19462,19579,19393,19562,20180,18961
26809,2018,4,마포구,망원제2동,344306,356303,347692,349393,352539,362665,359749
26833,2018,4,마포구,망원제2동,163583,169475,167837,166318,167371,173512,173674
26857,2018,4,마포구,망원제1동,72763,74429,73279,72744,73543,80881,81247

In [ ]:
df1.loc[(df1['읍면동명'] == '연남동') & (df1['기준_분기_코드'] == 4) & (df1['기준_년_코드'] == 2018), '월요일_생활인구_수']

3376       4763
26329    140376
26377     87318
Name: 월요일_생활인구_수, dtype: int64

In [ ]:
df2018_1 = df2018.groupby('읍면동명')[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']].sum()
df2018_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 공덕동 to 합정동
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   월요일_생활인구_수  16 non-null     int64
 1   화요일_생활인구_수  16 non-null     int64
 2   수요일_생활인구_수  16 non-null     int64
 3   목요일_생활인구_수  16 non-null     int64
 4   금요일_생활인구_수  16 non-null     int64
 5   토요일_생활인구_수  16 non-null     int64
 6   일요일_생활인구_수  16 non-null     int64
dtypes: int64(7)
memory usage: 1.0+ KB

In [ ]:
df2022 = df2[(df2['시군구명']=='마포구') & (df2['기준_분기_코드']==4) & (df2['기준_년_코드']==2022)]
df2022_1 = df2022.groupby('읍면동명')[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수']].sum()
df2022_1['주중_생활인구_수'] = df2022_1[['월요일_생활인구_수', '화요일_생활인구_수', '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수']].sum(axis=1)
df2022_1['주말_생활인구_수'] = df2022_1[['토요일_생활인구_수', '일요일_생활인구_수']].sum(axis=1)
df2022_1

,월요일_생활인구_수,화요일_생활인구_수,수요일_생활인구_수,목요일_생활인구_수,금요일_생활인구_수,토요일_생활인구_수,일요일_생활인구_수,주중_생활인구_수,주말_생활인구_수
읍면동명,,,,,,,,,
공덕동,1015286,1023799,1023868,1020188,1012930,961967,961784,5096071,1923751
대흥동,347405,353436,351643,350674,347859,335608,330672,1751017,666280
도화동,171491,176895,177101,178408,180180,173009,160034,884075,333043
망원제1동,680442,670804,675868,675695,687076,750042,754390,3389885,1504432
망원제2동,555870,548144,551397,548442,549723,579045,591343,2753576,1170388
상암동,165667,180877,180200,180553,171014,123082,109110,878311,232192
서강동,312620,320452,321426,322025,325036,332474,323287,1601559,655761
서교동,2348164,2376057,2415051,2441313,2587348,2769525,2521443,12167933,5290968
성산제1동,593885,588779,586019,587329,583478,589974,601343,2939490,1191317
성산제2동,348584,341791,343828,341668,339681,357362,366253,1715552,723615
신수동,275373,279172,278483,277416,272872,273229,272892,1383316,546121
아현동,115137,119360,118407,117990,116729,96916,90795,587623,187711
연남동,234421,233368,235911,236075,241085,257826,253078,1180860,510904
염리동,448440,451767,450235,449140,445452,434618,434915,2245034,869533
용강동,347656,357353,355525,357692,354439,323754,306538,1772665,630292
합정동,651512,665754,668051,675403,689465,689749,660875,3350185,1350624