<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%EC%A4%91%EB%B3%B5_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df1 = pd.read_excel("/content/drive/MyDrive/python/데이터스테이션/data/E17EXAMPLE.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/python/데이터스테이션/data/E17EXAMPLE.xlsx", sheet_name=1)
df3 = pd.read_excel("/content/drive/MyDrive/python/데이터스테이션/data/E17EXAMPLE.xlsx", sheet_name=2)

df1

           제품    가격   분류
0        1955  4500   버거
1         맥치킨  4700   버거
2         불고기  4300   버거
3       필레오피쉬  4800   버거
4     더블필레오피쉬  4900   버거
5     맥치킨모짜렐라  4800   버거
6     에그불고기버거  4000   버거
7      1955세트  6000   세트
8       맥치킨세트  6200   세트
9       불고기세트  5800   세트
10    필레오피쉬세트  6300   세트
11  더블필레오피쉬세트  6400   세트
12  맥치킨모짜렐라세트  6300   세트
13  에그불고기버거세트  5500   세트
14         콜라  1500   음료
15        사이다  1500   음료
16         환타  1500   음료
17      스프라이트  1500   음료
18      오렌지주스  2000   음료
19        맥까페  2000   음료
20       감자튀김  1500  사이드
21       애플파이  1500  사이드
22        맥너겟  1500  사이드
23         핫윙  1500  사이드
24        비스켓  2000  사이드

In [6]:
df4 = pd.concat([df1,df2,df3])
df4

         제품    가격   분류
0      1955  4500   버거
1       맥치킨  4700   버거
2       불고기  4300   버거
3     필레오피쉬  4800   버거
4   더블필레오피쉬  4900   버거
..      ...   ...  ...
18     감자튀김  1500  사이드
19     애플파이  1500  사이드
20      맥너겟  1500  사이드
21       핫윙  1500  사이드
22      비스켓  2000  사이드

[73 rows x 3 columns]

In [9]:
df4.duplicated().sum()

42

In [14]:
df4.drop_duplicates().sort_values('분류')

           제품    가격   분류
0        1955  4500   버거
1         맥치킨  4700   버거
2         불고기  4300   버거
3       필레오피쉬  4800   버거
4     더블필레오피쉬  4900   버거
5     맥치킨모짜렐라  4800   버거
6     에그불고기버거  4000   버거
0        더블빅맥  4400   버거
1         상하이  4400   버거
0          빅맥  4300   버거
21       애플파이  1500  사이드
22        맥너겟  1500  사이드
20       감자튀김  1500  사이드
24        비스켓  2000  사이드
23         핫윙  1500  사이드
8       상하이세트  5900   세트
7        빅맥세트  5800   세트
6      더블빅맥세트  5900   세트
13  에그불고기버거세트  5500   세트
12  맥치킨모짜렐라세트  6300   세트
11  더블필레오피쉬세트  6400   세트
10    필레오피쉬세트  6300   세트
9       불고기세트  5800   세트
8       맥치킨세트  6200   세트
7      1955세트  6000   세트
18      오렌지주스  2000   음료
19        맥까페  2000   음료
16         환타  1500   음료
14         콜라  1500   음료
17      스프라이트  1500   음료
15        사이다  1500   음료