<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%ED%8C%8C%EC%9D%BC%EC%9D%98_%EB%AA%A8%EB%93%A0_sheet_%ED%95%A9%EC%B9%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import openpyxl
sheet = openpyxl.load_workbook('/content/drive/MyDrive/python/데이터스테이션/data/E16EXAMPLE.xlsx').sheetnames

In [7]:
sheet = ['2022-01-01','2022-01-02','2022-01-03']

In [10]:
df = pd.DataFrame([])
for i in sheet:
  df1 = pd.read_excel('/content/drive/MyDrive/python/데이터스테이션/data/E16EXAMPLE.xlsx', sheet_name=i)
  df1['날짜'] = i
  df = pd.concat([df,df1])
df

        회원코드   이름 회원구분            상품명  수량   원가금액   판매금액          날짜
0   A0930750  서영주  신회원   유기농호두 (200g)   1   7920   9900  2022-01-01
1   A0463442  김민재  신회원  미담(淡) (370mL)   1   3475   4900  2022-01-01
2   A0386581  김경환  신회원   유기농호두 (200g)   3  23760  29700  2022-01-01
3   A0386581  김경환  신회원    강황가루 (100g)   1   5300   7700  2022-01-01
4   A0704242  박주용  신회원    동태전감 (400g)   1   7031   8900  2022-01-01
..       ...  ...  ...            ...  ..    ...    ...         ...
22  A2703110  서동균  신회원   돌돌삼겹살 (300g)   1   9625  10625  2022-01-03
23  A2703110  서동균  신회원  복숭아병조림 (460g)   1   4418   5440  2022-01-03
24  A2003929  문성호  신회원  유기농생아보카도 (2입)   1   8850  10220  2022-01-03
25  A2003929  문성호  신회원  무농약깐마늘 (150g)   1   3000   3520  2022-01-03
26  A2003929  문성호  신회원   부침이두부 (420g)   1   2106   2440  2022-01-03

[74 rows x 8 columns]