<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%ED%8F%B4%EB%8D%94%EB%82%B4_%EB%AA%A8%EB%93%A0_%ED%8C%8C%EC%9D%BC%EC%9D%98_%EB%AA%A8%EB%93%A0_sheet_%ED%95%A9%EC%B9%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import openpyxl

In [3]:
url = '/content/drive/MyDrive/python/데이터스테이션/data/엑셀투파이썬/'
file1 = '강남점.xlsx'
url + file1

'/content/drive/MyDrive/python/데이터스테이션/data/엑셀투파이썬/강남점.xlsx'

In [9]:
os.listdir(url)

['강남점.xlsx', '서초점.xlsx', '송파점.xlsx']

In [11]:
df = pd.DataFrame([])
for j in os.listdir(url):
    sheet = openpyxl.load_workbook(url + j).sheetnames

    for i in sheet:
        df1 = pd.read_excel(url + j, sheet_name=i)
        df1['날짜'] = i
        df1['지점'] = j.split('.')[0]
        df = pd.concat([df,df1])
df

,회원코드,회원명,회원구분,영수증번호,상품코드,상품명,수량,원가금액,판매금액,날짜,지점
0,A1755908,백철민,신회원,1459912,17138,유기농양배추브로콜리 (80mL*30입),1,16302.0,23100,2022-01-01,강남점
1,A1755908,백철민,신회원,1459912,7358,유기농순수깐밤 (200g),1,5459.0,8000,2022-01-01,강남점
2,A1755908,백철민,신회원,1459912,17256,정직선별건대추 (180g),1,3263.0,4100,2022-01-01,강남점
3,A2379469,박태인,신회원,1459913,22937,우리밀물만두 (500g),1,4025.0,5900,2022-01-01,강남점
4,A1572673,국지용,신회원,1459914,25602,유기농야미떡뻥 (40g),1,1691.0,2480,2022-01-01,강남점
...,...,...,...,...,...,...,...,...,...,...,...
178,A2694571,변우종,신회원,1495354,25274,피칸150g (150g),1,5504.0,7100,2022-01-03,송파점
179,A2694571,변우종,신회원,1495354,23615,간장에찍어먹는파래김 (10g(5매)),3,3375.0,4950,2022-01-03,송파점
180,A2694571,변우종,신회원,1495354,11373,바다마을 날치알(골드) (180g(30g*6입)),1,5155.0,7000,2022-01-03,송파점
181,A2923802,김바다,신회원,1495357,11404,유기농순수감귤 (2kg),1,5600.0,6900,2022-01-03,송파점
182,A2923802,김바다,신회원,1495357,25392,무농약진주설향딸기 (480g),1,8900.0,10900,2022-01-03,송파점

In [12]:
df.pivot_table('판매금액', index='날짜', columns='지점', aggfunc='sum')

지점          강남점  서초점  송파점
날짜
2022-01-01     712810  1228200   1083210
2022-01-02     848780   794230    708760
2022-01-03     512040   687900   1310230