<a href="https://colab.research.google.com/github/won195/TIL/blob/master/%ED%91%9C%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%81%AC%EB%A1%A4%EB%A7%81(crawling)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_html('https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=2021')[0]

   순위    팀  경기수   승   패   무     승률   게임차  연속    출루율    장타율   최근 10경기
0   1   KT  144  76  59   9  0.563   0.0  1승  0.356  0.381  3승-6패-1무
1   2   두산  144  71  65   8  0.522   5.5  2승  0.350  0.390  5승-3패-2무
2   3   삼성  144  76  59   9  0.563   0.0  1승  0.344  0.399  6승-3패-1무
3   4   LG  144  72  58  14  0.554   1.5  1패  0.342  0.368  3승-2패-5무
4   5   키움  144  70  67   7  0.511   7.0  3승  0.347  0.376  6승-3패-1무
5   6  SSG  144  66  64  14  0.508   7.5  1패  0.353  0.421  4승-4패-2무
6   7   NC  144  67  68   9  0.496   9.0  1패  0.343  0.416  4승-5패-1무
7   8   롯데  144  65  71   8  0.478  11.5  1승  0.356  0.399  4승-4패-2무
8   9  KIA  144  58  76  10  0.433  17.5  2패  0.337  0.336  5승-5패-0무
9  10   한화  144  49  83  12  0.371  25.5  6패  0.334  0.341  2승-6패-2무

In [15]:
url = 'https://sports.news.naver.com/kbaseball/record/index?category=kbo&year='
year = '2021'
years = range(2015,2022)

In [14]:
df = pd.DataFrame([])
for i in years:
    df1 = pd.read_html(url + year)[0]
    df1['연도'] = str(i)
    df = pd.concat([df, df1])
df

    순위    팀  경기수   승   패   무     승률   게임차  연속    출루율    장타율   최근 10경기    연도
0    1   KT  144  76  59   9  0.563   0.0  1승  0.356  0.381  3승-6패-1무  2015
1    2   두산  144  71  65   8  0.522   5.5  2승  0.350  0.390  5승-3패-2무  2015
2    3   삼성  144  76  59   9  0.563   0.0  1승  0.344  0.399  6승-3패-1무  2015
3    4   LG  144  72  58  14  0.554   1.5  1패  0.342  0.368  3승-2패-5무  2015
4    5   키움  144  70  67   7  0.511   7.0  3승  0.347  0.376  6승-3패-1무  2015
..  ..  ...  ...  ..  ..  ..    ...   ...  ..    ...    ...       ...   ...
5    6  SSG  144  66  64  14  0.508   7.5  1패  0.353  0.421  4승-4패-2무  2021
6    7   NC  144  67  68   9  0.496   9.0  1패  0.343  0.416  4승-5패-1무  2021
7    8   롯데  144  65  71   8  0.478  11.5  1승  0.356  0.399  4승-4패-2무  2021
8    9  KIA  144  58  76  10  0.433  17.5  2패  0.337  0.336  5승-5패-0무  2021
9   10   한화  144  49  83  12  0.371  25.5  6패  0.334  0.341  2승-6패-2무  2021

[70 rows x 13 columns]

In [18]:
df.pivot(values='순위',index='연도', columns='팀')

팀     KIA  KT  LG  NC  SSG  두산  롯데  삼성  키움  한화
연도
2015    9   1   4   7    6   2   8   3   5  10
2016    9   1   4   7    6   2   8   3   5  10
2017    9   1   4   7    6   2   8   3   5  10
2018    9   1   4   7    6   2   8   3   5  10
2019    9   1   4   7    6   2   8   3   5  10
2020    9   1   4   7    6   2   8   3   5  10
2021    9   1   4   7    6   2   8   3   5  10

In [19]:
df.pivot(values='팀', index='연도', columns='순위')

순위    1   2   3   4   5    6   7   8    9   10
연도
2015  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2016  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2017  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2018  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2019  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2020  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화
2021  KT  두산  삼성  LG  키움  SSG  NC  롯데  KIA  한화